{% load static %}
<footer class="bg-dark pt-5 marginTop">
  <div class="px-5">
    <div class="row ">
      <div class="col-md-4">
        <div class="text-white mb-5 container">

          <img class="logo" src="{% static 'img/logo.png' %}" class="col-md-8" data-wow-duration="1s" alt=""><br>
          <small class="mt-3 container text-justify">My name is Joseph or Jo as many people call me. I have been a photographer for over 15 years and practically enjoy watching a family progression. I have been fortunate enough to take couple shots followed by wedding shots and then the introduction to ever growing families, this brings me joy.


          </small>
        </div>
      </div>
      <!-- End Footer  -->

      <!-- middle footer  -->

      <div class="col-md-4 container">
        <div class="text-white mt-1 text-center">
          <h5>Get In Touch</h5>
          <small class="mt-3 ">info@rnjphotography.co.uk</small><br>
          <small class="mt-3 ">Phone: +(44) 07450234513</small><br>
          <small class="mt-3 ">Phone: +(44) 07830951851</small><br>
          <a href="/contact"><button class="btn btn-primary mt-3 mb-5" type="submit">Get In Touch</button></a>
          
        </div>
      </div>
      <!-- End Footer  -->

      <!-- Start lastFooter  -->

      <div class="col-sm-4">
        <div class="text-white mt-1">
          <h5>Subscribe Now</h5>
          <small class=" mr-5 text-justify ">I have been to many locations to take my photographs; I genuinely love the different digital back drops and the versatility this brings.

          </small>

          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <input type="text" aria-label="Enter Your Email" placeholder="Enter Your Email" class="form-control border-0 rounded-0" >
              <span class="btn btn-primary border-0 rounded-0">Subscribe</span>

            </div>

          </div>

          <div class="social-container1 mb-5 col-md-12">
            <a class="social-footer" href="https://www.facebook.com/rnj.joseph/" target="_blank"> <i class="fab fa-facebook-f"></i></a>
            <a class="social-footer" href="https://www.instagram.com/joseph_rnjphotography/?fbclid=IwAR3bZdKH_3qf85JXFBHT4vqGptjJ74-78zV0-2cW-RC-RCHUbHhCcAb7Rg8"target="_blank"> <i class="fab soc fa-instagram"></i></a>
            <a class="social-footer" href="https://www.snapchat.com/add/rnjphotography?fbclid=IwAR1yXoEmxhTe1K-A_V19ziQ93gw8LZ_AfUcsN-6mmEibX2XFXrlU9ezxTOA"target="_blank"> <i class="fab soc fa-snapchat-ghost "></i></a>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- End lastFooter  -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-muted text-center">©RNJ PHOTOGRAPHY All Rights Reserved.</p>

      </div>
    </div>
  </div>
</footer>