{% load static %}
<!-- Start Navbar  -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="logo" src="{% static 'img/logo.png' %}" alt="logo" srcset="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item {% if request.path  == '/' %}active{% endif %}">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item {% if 'about' in request.path %}active{% endif %}">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'wedding' in request.path %}active{% endif %}" href="/wedding">Wedding</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Portfolios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-link {% if 'maternity ' in request.path %}active{% endif %} dropdown-item" href="/maternity ">Maternity</a>
            <a class="nav-link {% if 'newborn' in request.path %}active{% endif %} dropdown-item" href="/newborn">Newborn</a>
            <a class="nav-link {% if 'children-family' in request.path %}active{% endif %} dropdown-item" href="/children-family">Children and Family</a>
            <a class="nav-link {% if 'cake-smash' in request.path %}active{% endif %} dropdown-item" href="/cake-smash">Cake Smash</a>
            <a class="nav-link {% if 'cake-smash' in request.path %}active{% endif %} dropdown-item" href="/black-white">Black & White</a>
            <a class="nav-link {% if 'headshot' in request.path %}active{% endif %} dropdown-item" href="/headshot">Portrait Headshot</a>
            <a class="nav-link {% if 'outdoor' in request.path %}active{% endif %} dropdown-item" href="/outdoor">Outdoor</a>

            
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'faq' in request.path %}active{% endif %}" href="/faq">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'contact' in request.path %}active{% endif %}" href="/contact">Contact</a>
        </li>
      </ul>


      {% if user.is_authenticated %}
        <a class="btn btn-outline-dark  my-2 my-sm-0" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a class="btn btn-dark text-primary my-2 my-sm-0" href="{% url 'login' %}">Login</a>
      {% endif %}

    </div>
  </div>
</nav>
<!-- End Navbar  -->