{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start senconSection -->
<main class="about">
  <div class="">
    <div class="col-lg-12 text-center my-5 section-title">
      <img src="{% static 'img/ab.jpg' %}" class="col-lg-12 wow animate__fadeIn" data-wow-duration="1s">

      <div class="row">
        <div class="carousel-caption">
          <h3 class="col-md-12 text-center">ABOUT JNR</h3>
        </div>
      </div>

      <h1 class="underline-primary my-5 wow animate__fadeIn" data-wow-duration="5s">Who We Are</h1>

    </div>
    <div>
      <p class="container wow animate__fadeIn" data-wow-duration="5s">Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Accusamus quibusdam unde explicabo deserunt, cum consequuntur maxime et recusandae architecto accusantium
        dolores. Suscipit itaque consequuntur corrupti vel similique nisi aspernatur. Cupiditate Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Accusamus quibusdam unde explicabo deserunt.
      </p>
    </div>
  </div>
  <!-- End senconSection -->
  <!-- second section about  -->
  <div class="container marginTop">
    <div class="row ">
      <div class="col-sm-8">
        <div class="card shadow wow animate__fadeInLeft" data-wow-duration="1s">
          <img src="{% static 'img/grad.png' %}" class="card-img-top " alt="...">


        </div>
      </div>

      <div class="col-lg-4 align-bottom shadow border wow animate__fadeInRight" data-wow-duration="1s">
        <div class="my-5 " >
          <h1>Lorem ipsum dolor sit amet conetur.</h1>
          <p class="my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sint, omnis dolor ipsum sed
            ducimus molestiae repudiandae accusamus soluta odio, illo eius facere nam repellendus nihil, minima dolores
            maxime qui.</p>
          <a href="#" class="btn btn-primary text-dark my-3">Get In Touch</a>

        </div>
      </div>

    </div>
  </div>

</main>



<!-- end section about  -->

{% endblock %}

{% block js %}
<!-- Animation style  -->
<script src="WOW-master/dist/wow.min.js"></script>
<script>
  new WOW().init();
</script>
{% endblock %}