{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start senconSection -->
<main class="about">
    <div class="text-center my-5 section-title">
      <!-- <img src="{% static 'img/ab.jpg' %}" class="wow animate__fadeIn" data-wow-duration="1s"> -->

      <div class="row">
      </div>

<div class="mt-2">
  <h1 class="underline-primary mt-5 wow animate__fadeIn" data-wow-duration="5s">About Me</h1>

</div>
    </div>
    <div class="container text-justify wow animate__fadeIn" data-wow-duration="5s">
      <p>My name is Joseph or Jo as many people call me. I have been a photographer for over 15 years and practically enjoy watching a family progression. I have been fortunate enough to take couple shots followed by wedding shots and then the introduction to ever growing families, this brings me joy. 
      </p>
        <p>  I have been to many locations to take my photographs; I genuinely love the different digital back drops and the versatility this brings.
        </p> 

        I have been blessed with a loving and supportive family my wife and my lovely 3 boys. My wife has been instrumental in encouragement and always takes an interest in my work. My style is very unique and I put my heart, soul and mind into every photo I take. My approach to weddings is relaxed and fun, I’m very mindful and respectful of you sharing your big day with me. I do my best to catch those moments you can miss and ones you don’t ever want to forgot.
        
    </div>
  </div>
  <!-- End senconSection -->
  <!-- second section about  -->
  <div class=" mt-2 container">
    <div class="row ">
      <div class="col-sm-8">
          <img src="{% static 'img/1.png' %}" class="card-img-top card shadow mt-5 wow animate__fadeInLeft" data-wow-duration="1s" alt="...">


      </div>

      <div class="container col-lg-4 align-bottom mt-5 shadow border wow animate__fadeInRight" data-wow-duration="1s">
        <div class="my-5 container" >
          <h4 class="text-justify my-5 container"> I want to make your day as perfect as I can, natural and equally relaxed.
            So please, if you wish to know further information get in contact with me. There are many ways to get in touch to book your free wedding trial or to find out if I am available for your big day.   
          </h4>
          <a href="#" class="btn btn-primary text-dark my-3">Get In Touch</a>

        </div>
      </div>

    </div>
  </div>

</main>



<!-- end section about  -->

{% endblock %}

{% block js %}
<!-- Animation style  -->
<script src="WOW-master/dist/wow.min.js"></script>
<script>
  new WOW().init();
</script>
{% endblock %}