{% extends 'base.html' %}
{% load static %}

{% block title %}Upload Images{% endblock %}

{% block style %}
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
{% endblock %}


{% block content %}
<main class="add-image container">

  <div class="margitTop text-center mt-5">
    <h1 class="underline-primary wow animate__fadeIn" data-wow-duration="5s">Add Images</h1>
  </div>

  <div class="mx-auto mt-5 wow animate__fadeInUp">
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}" role="alert">
      {{message}}
    </div>
    {% endfor %}

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group mb-5">
        <label for="client">Client's Name</label>
        <select class="form-control" name="client" id="client" required>
          <option value="" selected disabled>Choose Client</option>
          {% for user in users %}
          <option value="{{user.username}}">{{user.username}}</option>
          {% endfor %}
        </select>
      </div>

      <input type="file" name="images" multiple required>

      <!-- <button type="submit" class="btn btn-primary mt-5">Submit</button> -->
    </form>

</main>
{% endblock %}


{% block js %}
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script>
  FilePond.setOptions({
    instantUpload: false,

    server: {
      process: {
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        onload: null,
        onerror: res => {
          console.log(res)
        },
        ondata: formData => {
          formData.append('client', document.getElementById('client').value);
          return formData
        }
      }
    }
  });

  const inputElement = document.querySelector('input[type="file"]');
  const pond = FilePond.create( inputElement );
  
</script>
{% endblock %}