<title>Resgestration</title>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="regestration">

    <div class=" text-center">


<div class="margitTop mt-5">
  <h1 class="underline-primary   wow animate__fadeIn" data-wow-duration="5s">Add Images</h1>

</div>
    </div>
    <div class="col-lg-6 mx-auto mt-5 wow animate__fadeInUp" data-wow-duration="1s">

<!-- list of clinet -->
<form">
  <label for="client">Client's Name</label>
  <select name="client" id="cars">
    <option value="name">Choose Client</option>
    <option value="name">Jo</option>
    <option value="name">Michael</option>
    <option value="name">QWERTY</option>
    <option value="name">ASDFGHJK</option>
  </select>
  <br><br>
  <div>
    <label for="myfile">Select files:</label>
    <input type="file" id="img" name="img" multiple accept="image/*">
  </div>
    <input class="btn btn-primary mt-5 text-center" type="submit" value="Submit">
</form>

<!-- 
      <form action="" method="post">
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control wow animate__fadeIn" data-wow-duration="0.5s" name="Name"
              id="subject" placeholder="Name" data-rule="minlen:9"
              data-msg="Please enter at least 8 chars of Name" />
          </div>

          <div class="form-group col-md-6">
            <input type="date" class="form-control wow animate__fadeIn" data-wow-duration="0.5s" name="Date"
              id="subject" placeholder="Username" data-rule="minlen:9"
              data-msg="Please enter at least 8 chars of Username" />
          </div>

          <div class="form-group col-md-6">
            <input type="text" class="form-control wow animate__fadeIn" data-wow-duration="0.5s" name="Username"
              id="subject" placeholder="Username" data-rule="minlen:9"
              data-msg="Please enter at least 8 chars of Username" />
          </div>

          <div class="form-group col-md-6">
            <input type="text" class="form-control wow animate__fadeIn" data-wow-duration="0.5s" name="Password"
              id="subject" placeholder="Password" data-rule="minlen:4"
              data-msg="Please enter at least 8 chars of Password" />
          </div>
          <div class="form-group col-md-12">
            <textarea class="form-control wow animate__fadeInUp" data-wow-duration="0.5s" name="message" rows="3"
              data-rule="required" data-msg="Please write something for us" placeholder="Note"></textarea>
          </div>

        </div>

        <div class="text-center py-3 mb-5 "><button class="btn btn-primary wow animate__fadeInUp float-left"
            data-wow-duration="1s" type="">Signup</button></div>
      </form>
    </div>



  </div> -->

</main>

{% endblock %}