<title>ADRIAN&ALETA</title>
<meta name="description" content="“The highest happiness on earth is the happiness of marriage.”">
{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="patrick">


<!-- three image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/ADRIAN&ALETA/asian photographer.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/ADRIAN&ALETA/family portrait.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/ADRIAN&ALETA/freelance photographer.jpg' %}">
    </div>

    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/ADRIAN&ALETA/photo for wedding.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/ADRIAN&ALETA/photographer near me.jpg' %}">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5 mx-auto">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/ADRIAN&ALETA/photoshoot.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/ADRIAN&ALETA/wedding photographer.jpg' %}">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mx-auto mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/ADRIAN&ALETA/wedding photography.jpg' %}">
    </div>
    
    <div class="col-lg-12 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/ADRIAN&ALETA/professional photographer.jpg' %}">
    </div>

  </div>
</div>

  


<!-- tow image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/ADRIAN&ALETA/wedding photographers near me.jpg' %}">
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/ADRIAN&ALETA/wedding photography prices.jpg' %}">
    </div>

    <div class="col-lg-6 mx-auto mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/ADRIAN&ALETA/local wedding photographers.jpg' %}">
    </div>

  </div>
</div>


</main>


{% endblock %}