<title>Black & White</title>

{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="">

  <div class="container col-md-12  mt-5">
    <div class="row">
      <div class="col-lg-4 col-md-6  col-sm-6 mt-3">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img//b&w/1.jpg' %}">
     
      </div>
      <div class="col-lg-4 col-md-6  col-sm-6 mt-3">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img//b&w/2.jpg' %}">
      </div>
      <div class="col-lg-4 col-md-6  col-sm-6 mx-auto mt-3">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img//b&w/3.jpg' %}">
      </div>

    </div>
  </div>

  <!-- Third section -->

  <div class="container mt-5">
    <div class="row">
    <div class="col-lg-3 my-5 mx-auto">
    <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/11.jpg' %}">
  </div>
  <div class="col-lg-6 my-5 mx-auto">
    <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/22.jpg' %}">
  </div>
  <div class="col-lg-3 my-5 mx-auto">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/b&w/33.jpg' %}">
  </div>

  </div>
</div>

  <!-- Third section -->

  <div class="container mt-5">
    <div class="row">
    <div class="col-lg-5 mx-auto">
    <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/44.jpg' %}">
  </div>
  <div class="col-lg-5 mx-auto">
    <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/55.jpg' %}">
  </div>


  </div>
</div>

<!-- one image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5 ">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/black.jpg' %}">
    </div>
  </div>
</div>
<!-- collection images  -->

<div class="container">
  <div class="row">
<div class="col-lg-6">
  <img class=" mb-5 my-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/b&w/b1.jpg' %}">
</div>
    <div class="col-lg-6 my-5">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/b&w/b2.jpg' %}">
      <img class="mb-5  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/b&w/b3.jpg' %}"> 

    </div>
  </div>
</div>


<!-- three image  -->


<div class="container col-md-12 pre1 mt-5">
  <div class="row">
    <div class="col-lg-4 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/w1.jpg' %}">
    </div>
<div class="col-lg-4 mt-3">
  <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/w2.jpg' %}">
 </div>
<div class="col-lg-4 mt-3">
  <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/w3.jpg' %}">
</div>
  </div>
</div>

<!-- tow image  -->


<div class="container col-md-12 pre1 mt-5">
  <div class="row">
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/w4.jpg' %}">
    </div>
<div class="col-lg-6 mt-3">
  <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/w5.jpg' %}">
 </div>
  </div>
</div>

<!-- three image  -->


<div class="container col-md-12 pre1 mt-5">
  <div class="row">

<div class="col-lg-6 mt-3">
  <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/bw2.jpg' %}">
 </div>
<div class="col-lg-6 mt-3">
  <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/bw3.jpg' %}">
</div>
  </div>
</div>

<!-- three image  -->


<div class="container col-md-12 pre1 mt-5">
  <div class="row">
    <div class="col-lg-3 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/a1.jpg' %}">
    </div>
<div class="col-lg-6 mt-3">
  <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/a2.jpg' %}">
 </div>
<div class="col-lg-3 mt-3">
  <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/a3.jpg' %}">
</div>
  </div>
</div>
<!-- one image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/b&w/a4.jpg' %}">
    </div>
  </div>
</div>

<!-- three image  -->


<div class="container col-md-12 pre1 mt-5">
  <div class="row">
    <div class="col-lg-4 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/a5.jpg' %}">
    </div>
<div class="col-lg-4 mt-3">
  <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/a6.jpg' %}">
 </div>
<div class="col-lg-4 mt-3">
  <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/a7.jpg' %}">
</div>
  </div>
</div>

<!-- three image  -->


<div class="container col-md-12 pre1 mt-5">
  <div class="row">
    <div class="col-lg-4 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/l1.jpg' %}">
    </div>
<div class="col-lg-4 mt-3">
  <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/l2.jpg' %}">
 </div>
<div class="col-lg-4 mt-3">
  <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/l3.jpg' %}">
</div>
  </div>
</div>

<!-- tow image  -->


<div class="container col-md-12 pre1 mt-5">
  <div class="row">
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/l4.jpg' %}">
    </div>
<div class="col-lg-6 mt-3">
  <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/b&w/l5.jpg' %}">
 </div>
  </div>
</div>
</main>

{% endblock %}