<title>CakeSmash & Party</title>

{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start senconSection -->
<main class="pricing container mt-3">
  <div class="mb-5">
    <div class="text-center">
      <div class="mx-auto ">
        <h4 class="text-center underline-primary"> Cake Smash & Party </h4>
      </div>
      <h5 class="col-lg-6 my-5 text-justify mx-auto wow animate__fadeIn" data-wow-duration="2s">

        Cake Smashes are one of my favourite sessions to shoot, because it’s fun and unique. Why not celebrate your
        baby’s first birthday & your first year of parenting with a heart-warming cake smash and splash session to
        capture your baby’s varied expressions at this age, and all the fun of being one. This session last 1-2 hours.
        The session is made up of 3 parts to give you a wide variety of images in your final gallery: some portraits
        taken before the cake comes out, the cake smash itself - the messy destruction of a birthday cake; and then
        images of your baby splashing about in a tub of warm, bubbly water to help clean the cake off (this part is
        optional). However this last part tends to be a favourite with the babies.
        <b> You need to provide cake because some kids have food allergies and parents know that best. </b>



      </h5>
      <img src="{% static 'img/cake.jpg' %}" class="mt-5 imag wow animate__fadeIn" data-wow-duration="2s"
        alt="professional photographer">


      <!-- border offer  -->
      <div class="pricing-border col-md-6 mx-auto container marginTop">
        <div class="module text-justify">
          <h3> Session fee </h3>
          £80 weekdays & £100 weekends and bank holidays. <br>
          Please note that no products (digitals or prints) are included in the session fee. Please also choose a
          package from below.


        </div>
      </div>

      <!-- First packahe  -->

      <div class="row mt-5 ">

        <div class="col-lg-6 mx-auto wow animate__fadeIn" data-wow-duration="2s">
          <h3> PACKAGE 1- £200 </h3>
          <h5> 1 hour shoot at your home or any locations. </h5>

          <ul>
            <li>An online password protected viewing and sharing gallery for friends and family. The online gallery
              lasts for 90 full days.</li>
            <li>10 Images fully edited (change background, face retouch, high resolution)</li>
            <li>Each additional image to be edited £30 and each additional image to download £10</li>
            </li>
          </ul>


          <!-- <div class="card-footer bg-dark text-center">
            <h5 class="text-white text-center">For £160</h5>
          </div> -->

        </div>
      </div>
    </div>


    <br>


    <!-- Second packahe  -->

    <div class="row mt-5 ">

      <div class="col-lg-6 mx-auto wow animate__fadeIn" data-wow-duration="2s">
        <h3> PACKAGE 2-£300 </h3>
        <h5> 1 hour at your home or any locations </h5>

        <ul>
          <li>An online password protected viewing and sharing gallery for friends and family. The online gallery lasts for 90 full days.</li>
          <li>20 Images fully edited (change background, face retouch, high resolution)</li>
          <li>Each additional image to be edited £30 and each additional image to download £10</li>


        </ul>


        <!-- <div class="card-footer bg-dark text-center">
          <h5 class="text-white text-center">For £160</h5>
        </div> -->

      </div>
    </div>
  </div>




  <!-- Third packahe  -->

  <div class="row mt-5 ">

    <div class="col-lg-6 mx-auto wow animate__fadeIn" data-wow-duration="2s">
      <h3> PACKAGE 3- £400 </h3>
      <h5> 1-1.30 hours at your home or any locations </h5>

      <ul>
        <li>An online password protected viewing and sharing gallery for friends and family. The online gallery lasts for 90 full days.</li>
        <li>30 Images fully edited (change background, face retouch, high resolution)</li>
        <b> Each additional image to be edited £30 and each additional image to download £10 </b>

      </ul>


      <!-- <div class="card-footer bg-dark text-center">
          <h5 class="text-white text-center">For £160</h5>
        </div> -->

    </div>
  </div>
  </div>





  <!-- End senconSection -->
  <!-- new section  -->

  <div class="container pre1 mt-5">
    <div class="row">




      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/8.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/9.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/10.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/12.jpg' %}">
      </div>


      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/13.jpg' %}">
      </div>























      <div class="col-lg-12 mx-auto">
        <img class="mt-5 wow animate__fadeIn" data-wow-duration="1s" src="{% static 'img/cake1.jpg' %}">
      </div>

      <div class="col-lg-8 mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake3.jpg' %}">
      </div>
      <div class="col-lg-4 mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake33.jpg' %}">
      </div>
      <div class="col-lg-4 mx-auto mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake5.jpg' %}">
      </div>
      <div class="col-lg-4 mx-auto mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake4.jpg' %}">
      </div>
      <div class="col-lg-4 mx-auto mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake6.jpg' %}">
      </div>

    </div>
  </div>


  <!-- new section  -->

  <div class="container pre1 mt-5">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <img class=" wow animate__fadeIn" data-wow-duration="1s" src="{% static 'img/ca4.jpg' %}">
      </div>
    </div>
  </div>



  <div class="container col-lg-12 pre1 mt-5 mx-auto">
    <div class="row">
      <div class="col-lg-4 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/ca1.jpg' %}">
      </div>
      <div class="col-lg-3 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/ca2.jpg' %}">
      </div>
      <div class="col-lg-4 mx-auto mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/ca3.jpg' %}">
      </div>

    </div>
  </div>


  <div class="container pre1 mt-5">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <img class=" wow animate__fadeIn" data-wow-duration="1s" src="{% static 'img/or.jpg' %}">
      </div>
    </div>
  </div>



  <div class="container col-lg-12 pre1 mt-5 mx-auto">
    <div class="row">
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/or1.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/or2.jpg' %}">
      </div>

    </div>
  </div>


  <!-- last collection  -->



  <div class="container pre1 mt-5">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <img class=" wow animate__fadeIn" data-wow-duration="1s" src="{% static 'img/k1.jpg' %}">
      </div>
    </div>
  </div>



  <div class="container col-lg-12 pre1 mt-5 mx-auto">
    <div class="row">
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/k2.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/k3.jpg' %}">
      </div>



      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party1.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party2.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party3.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party4.jpg' %}">
      </div>
      <div class="col-lg-4 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party5.jpg' %}">
      </div>
      <div class="col-lg-8 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party6.jpg' %}">
      </div>


    </div>
  </div>


</main>


<!-- end section about  -->
{% endblock %}