<title>Cake-Smash</title>

{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start senconSection -->
<main class="pricing container mt-3">
  <div class="mb-5">
    <div class="text-center">
      <div class="mx-auto ">
        <h4 class="text-center underline-primary"> Cake Smash </h4>
      </div>

      <img src="{% static 'img/cake.jpg' %}" class="mt-5 imag wow animate__fadeIn" data-wow-duration="2s"
        alt="professional photographer">

      <div class="row mt-5 ">

    <div class="col-lg-6 mx-auto wow animate__fadeIn" data-wow-duration="2s">
      <p>2 hours shoot at a location of your choice, the first hour is a portrait shots, then the last hour is for the cake smash and the shower..
      </p>
      <p>
        You can provide the cake and any decoration; however extra charge will be applied if you would like me to do it instead (cake and/or decorations).  
      </p>
      <p>
        Up to 10 images fully edited.
      </p>
      <div class="card-footer bg-dark text-center">
        <h5 class="text-white text-center">For £160</h5>
      </div>
  
    </div>
  </div>
  </div>
  <!-- End senconSection -->
<!-- new section  -->

<div class="container pre1 mt-5">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <img class=" wow animate__fadeIn" data-wow-duration="1s" src="{% static 'img/cake1.jpg' %}">
    </div>

    <div class="col-lg-8 mt-5">
      <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake3.jpg' %}">
    </div>
    <div class="col-lg-4 mt-5">
      <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake33.jpg' %}">
    </div>
    <div class="col-lg-4 mx-auto mt-5">
      <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake5.jpg' %}">
    </div>
    <div class="col-lg-4 mx-auto mt-5">
      <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake4.jpg' %}">
    </div>
    <div class="col-lg-4 mx-auto mt-5">
      <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake6.jpg' %}">
    </div>

  </div>
</div>


<!-- new section  -->

<div class="container pre1 mt-5">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <img class=" wow animate__fadeIn" data-wow-duration="1s" src="{% static 'img/ca4.jpg' %}">
    </div>
  </div>
</div>



    <div class="container col-lg-12 pre1 mt-5 mx-auto">
      <div class="row">
    <div class="col-lg-4 mt-5 mx-auto">
      <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/ca1.jpg' %}">
    </div>
    <div class="col-lg-3 mt-5 mx-auto">
      <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/ca2.jpg' %}">
    </div>
    <div class="col-lg-4 mx-auto mt-5 mx-auto">
      <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/ca3.jpg' %}">
    </div>

  </div>
</div>


<div class="container pre1 mt-5">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <img class=" wow animate__fadeIn" data-wow-duration="1s" src="{% static 'img/or.jpg' %}">
    </div>
  </div>
</div>



<div class="container col-lg-12 pre1 mt-5 mx-auto">
  <div class="row">
<div class="col-lg-6 mt-5 mx-auto">
  <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/or1.jpg' %}">
</div>
<div class="col-lg-6 mt-5 mx-auto">
  <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/or2.jpg' %}">
</div>

</div>
</div>


<!-- last collection  -->



<div class="container pre1 mt-5">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <img class=" wow animate__fadeIn" data-wow-duration="1s" src="{% static 'img/k1.jpg' %}">
    </div>
  </div>
</div>



<div class="container col-lg-12 pre1 mt-5 mx-auto">
  <div class="row">
<div class="col-lg-6 mt-5 mx-auto">
  <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/k2.jpg' %}">
</div>
<div class="col-lg-6 mt-5 mx-auto">
  <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/k3.jpg' %}">
</div>

</div>
</div>


</main>


<!-- end section about  -->
{% endblock %}