{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start senconSection -->
<main class="pricing container mt-3">
  <div class="mb-5">
    <div class="text-center">
      <div class="mx-auto ">
        <h4 class="text-center underline-primary"> Cake Smash </h4>
      </div>

      <img src="{% static 'img/cake.jpg' %}" class="mt-5 imag wow animate__fadeIn" data-wow-duration="2s"
        alt="professional photographer">

      <div class="row mt-5 ">

    <div class="col-lg-6 mx-auto wow animate__fadeIn" data-wow-duration="2s">
      <p>2 hours shoot at a location of your choice, the first hour is a portrait shots, then the last hour is for the cake smash and the shower..
      </p>
      <p>
        You can provide the cake and any decoration; however extra charge will be applied if you would like me to do it instead (cake and/or decorations).  
      </p>
      <p>
        Up to 10 images fully edited.
      </p>
      <div class="card-footer bg-dark text-center">
        <h5 class="text-white text-center">For £160</h5>
      </div>
  
    </div>
  </div>
  </div>
  <!-- End senconSection -->
</main>


<!-- end section about  -->





{% endblock %}

{% block js %}
<!-- Animation style  -->
<script src="WOW-master/dist/wow.min.js"></script>
<script>
  new WOW().init();
</script>
{% endblock %}