<title>Children & Family</title>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start senconSection -->
<main class="pricing container">
  <div class="">
    <div class="text-center">

      <div class="row mt-5">

        <div class="mx-auto ">
          <h4 class="text-center underline-primary">Children and Family</h4>
        </div>
      </div>

      <h5 class="mt-5 wow animate__fadeIn" data-wow-duration="2s">Family photography is one of my favourite things to shoot, children grow and change quickly and each family story is really important, unique and should be captured in photos for everlasting memories. 
      </h5>
<h5 class="my-2 wow animate__fadeIn" data-wow-duration="2s">
  So, if you’re planning to book a family photo shoot and if you are excited to have some beautiful pictures that capture your family expressing emotion and having meaning with forever lasting memories.
</h5>
    </div>
    <div>
      <p class="text-justify mt-4 container wow animate__fadeIn" data-wow-duration="2s">Whether you like your photos to be taken in an outdoor or indoor location, I can shoot them both. I can also photograph any event including Christenings, special family gatherings, birthdays, Christmas parties and so on.
        The prices below refer to on location shoots 20 miles from where I live. I’m more than happy to travel anywhere in the UK for an extra charge to cover my expenses.
        
      </p>
      <img src="{% static 'img/6.jpg' %}" class="mt-5 mb-5 imag wow animate__fadeIn" data-wow-duration="2s"
      alt="professional photographer">

    </div>
  </div>
  </div>
  <!-- End senconSection -->
  <h2 class="text-center mx-auto marginTop">
    Indoor pricing  
  </h2>

  <!-- Start Cards -->
  <div class="container">
    <div class="row ">
      <!-- first Card  -->
      <div class="col-lg-6  border-0">
        <a href="#">
          <div class="wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/family1.jpg' %}" class="mt-5 border-0" alt="family portrait">
          </div>
        </a>
      </div>

      <div class="col-lg-6 box border-0 align-self-center">
        <h4 class="card-text text-dark mt-5">(portraits/headshots) £150</h4> 

        <ul>
<li> <h5>2 hours at your home and the shoots included.</h5> </li>
<li>USB with high resolution images.</li>
<li>An online password protected viewing and sharing gallery for friends and family.</li>
<li>Prints can be added as requested.</li>
<li>Up to 5 family members additional members £20 per person.</li>
<li>10 images fully edited (change background -face retouch)</li>
<li>I also offer prints and frames </li>

</ul>
        <!-- <div class="card-footer mt-5 bg-dark text-center">
          <h5 class="text-white text-center">For £150</h5>
        </div> -->

        </div>

      <!-- second Card  -->
      <div class="col-lg-6 mt-5  border-0">
        <a href="#">
          <div class="wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/family2.jpg' %}" class="card-img-top mt-5 border-0" alt="family photographer">
            <!-- <div class="card-body">
              <h4 class="card-text text-dark my-2">Sky’s Limit Package.</h4>
            </div> -->

          </div>
        </a>
      </div>

      <div class="col-lg-6 mt-5 box border-0 align-self-center">
        <div class="mb-3">
          <h5 class="">For £250</h5>
        </div>

        <ul>
          <li> <h5>2.30 hours at your home and the shoots included.</h5> </li>
          <li>USB with high resolution images. </li>
          <li>An online password protected viewing and sharing gallery for friends and family. </li>
          <li>Prints can be added as requested. </li>
          <li>Up to 5 family members additional members £20 per person. </li>
          <li>20 images fully edited (change background -face retouch)     </li>
           <p>extra photo editing charge will be applied.
          </p>
          <li>I also offer prints and frames </li>
          


        </ul>



        </div>



      <!-- thirdCard  -->
      <div class="col-lg-6 mt-5 box border-0">
        <a href="#">
          <div class="wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/family3.jpg' %}" class="card-img-top mt-5 border-0" alt="local photographers">
            <!-- <div class="card-body">
              <h4 class="card-text text-dark my-2">Heavenly Package.</h4>

            </div>
 -->

          </div>
        </a>
      </div>
  
  <div class="col-lg-6 mt-5 box border-0 align-self-center">
    <div class="">
      <h5 class="mb-3">For £350</h5>
    </div>

    <ul>
     <li> <h5>3 hours at your home and the shoots included.</h5></li>
      <li>USB with high resolution images. </li>
      <li>An online password protected viewing and sharing gallery for friends and family. </li>
      <li>Prints can be added as requested. </li>
      <li>Up to 5 family members additional members £20 per person. </li>
      <li>40 images fully edited (change background -face retouch)     </li>
      <p>extra photo editing charge will be applied.
      </p>
      <li>I also offer prints and frames </li>
      
    </ul>

    <!-- <div class="card-footer mt-5 bg-dark text-center">
      <h5 class="text-white text-center">For £350</h5>
    </div> -->

    </div>
  </div>
</div>



  <!-- accordion  -->
  <!-- <div class="accordion container marginTop wow animate__fadeIn" data-wow-duration="5s" id="accordionExample">
    <div class="">
      <div class="" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block  bg-dark text-left" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-plus-square"></i> Heavenly Package.
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <h3 class="text-muted my-3">Up to 10 hours coverage:</h3>
          <ul>
            <li>Includes getting ready, ceremony, family photos, formal group photos, wedding party photos, portrait
              session, speeches and reception coverage until 45 minutes after the dance floor opens.</li>
            <li>USB with all the high-resolution images in a presentation box.</li>
            <li>An online password protected viewing and sharing gallery for friends and family. </li>
            <li>Travel anywhere within the UK for your wedding day. </li>
            <li>I do not limit the number of images shared; however, you can expect a total of 500-600 edited wedding
              images.</li>
            <li>All images will be given in both colour, and black and white.</li>
            <li>Prints can be added as requested.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block bg-dark text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-plus-square"></i> Sky’s Limit Package.
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <h3 class="text-muted my-3">Up to 8 hours coverage:</h3>
          <ul>
            <li>Includes getting ready, ceremony, family photos, formal group photos, wedding party photos, portrait
              session, speeches and reception coverage up until 45 minutes after the dance floor opens.</li>
            <li>Digital download of edited high-resolution images.</li>
            <li>USB with high resolution images in a presentation box.</li>
            <li>An online password protected viewing and sharing gallery for friends and family.</li>
            <li>Travel within the UK for your wedding day </li>
            <li>I do not limit the number of images shared; however, you can expect a total of 350-450 edited wedding
              images.</li>
            <li>All images will be given in both colour, and black and white.</li>
            <li>Prints can be added as requested.</li>

          </ul>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block bg-dark text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="fas fa-plus-square"></i> Touching Clouds Package.
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <h3 class="text-muted my-3">Up to 5 hours coverage from bridal preparation until wedding breakfast:</h3>
          <ul>
            <li>200+ high resolution images delivered on a USB.</li>
            <li>An online password protected viewing and sharing gallery for friends and family.</li>
            <li>Prints can be added as requested.</li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

  <!-- border offer  -->

  <!-- second border  -->

  <div class="pricing-border col-md-12 mx-auto container mt-5 marginTop">
    <div class="module ">
      <h1>Location shoot: £200</h1>
      <h4>(extra money to cover my expenses if outside 20 miles from where I live)</h4>
      <h6>2 hours of shooting time at a location of your choice or my choice. The shoots include:</h6>
<ul class="mt-3">
  <li>USB with high resolution images. </li>
<li>An online password protected viewing and sharing gallery for friends and family. </li>
<li>15 photos will be fully edited. </li>
<li>Prints can be added as requested. </li>
<h6 class="mt-3">Please let me know if you do have anything else in your mind and I’m more than happy to help. </h6>
</ul>

    </div>
  </div>


  <!-- new card  -->
  <div class=" marginTop">
    <div class="row ">
      <!-- <div class="col-md-4 text-dark ">
        <img src="{% static 'img/indoor.jpg' %}" class="card-img-top border-0 " alt="photoshoot">

        <div class="card-img-overlay pricing-card">
          <h3>Indoor session £400</h3>
          • Up to 2 hours coverage at your own home using studio lighting and all equipment or within the M25 or 20
          miles from Purley. I am more than happy to travel further for extra charge to cover my expenses.
          • All the images with high resolution ready to print.<br>
          • 40 images full edited (change background -face retouch) <br>
          • High resolution images delivered on a USB stick.<br>
          • An online password protected viewing and sharing gallery for friends and family. <br>
          (Price will be reduced to £300 if added to a wedding package)
        </div>
      </div> -->
<!-- image  -->
<div class="col-lg-12">
  <img src="{% static 'img/family.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
</div>
<!-- collection second images  -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static 'img/cf2.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-4">
      <img src="{% static 'img/cf33.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-4">
      <img src="{% static 'img/cf88.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>

  </div>
</div>

<!-- collection image  -->
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="{% static 'img/cf22.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-6">
      <img src="{% static 'img/cf44.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
  </div>
</div>

<!-- collection third images  -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static 'img/cf11.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-4">
      <img src="{% static 'img/cf55.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-4">
      <img src="{% static 'img/cf66.png' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
  </div>
</div>

<!-- collection third images  -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static 'img/chf1.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-4">
      <img src="{% static 'img/chf2.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-4">
      <img src="{% static 'img/chf3.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
  </div>
</div>


<!-- one image -->

<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <img src="{% static 'img/kid.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
  </div>
</div>





<!-- collection third images  -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static 'img/c&f/2.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-4">
      <img src="{% static 'img/c&f/3.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-4">
      <img src="{% static 'img/c&f/4.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
  </div>
</div>

<!-- one image -->

<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <img src="{% static 'img/c&f/1.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
  </div>
</div>


<!-- one image -->

<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <img src="{% static 'img/c&f/5.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
  </div>
</div>

<!-- collection third images  -->
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="{% static 'img/c&f/6.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-6">
      <img src="{% static 'img/c&f/7.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
  </div>
</div>

<!-- collection third images  -->
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="{% static 'img/c&f/8.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-6">
      <img src="{% static 'img/c&f/9.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
  </div>
</div>


<!-- collection third images  -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static 'img/c&f/10.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-4">
      <img src="{% static 'img/c&f/11.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-4">
      <img src="{% static 'img/c&f/12.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>

  </div>
</div>

<!-- collection third images  -->
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="{% static 'img/c&f/13.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-6">
      <img src="{% static 'img/c&f/14.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
  </div>
</div>

<!-- collection third images  -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static 'img/c&f/15.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-8">
      <img src="{% static 'img/c&f/16.jpg' %}" class="border-0 my-5 shadow mx-auto" alt="local wedding photographers">
    </div>
  </div>
</div>


</main>


{% endblock %}