{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="contact">
  <!-- start fixed image   -->
  <div class="col-lg-12 text-center my-2 section-title">
    <h1 class="my-2 wow animate__fadeIn" data-wow-duration="1s">CONTACT ME</h1>
  </div>


  <img class="shadow my-5" src="{% static 'img/contact.jpg' %}">
  <div>
    <h5 class="container py-3 my-1 text-center wow animate__fadeIn" data-wow-duration="1s">Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Accusamus quibusdam unde explicabo deserunt, cum consequuntur maxime et recusandae
      architecto accusantium dolores. Suscipit itaque consequuntur corrupti vel similique nisi aspernatur. Cupiditate
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quibusdam unde explicabo deserunt.
    </h5>
  </div>



  <!-- contact us  -->
  <section id="contact" class="contact marginTop ">
    <div class="mx-5">

      <div class="section-title mx-5">
        <h2 class="mt-lg-0">Contact Us</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 offset-md-2 mt-lg-0">
          <form action="" method="post">
            <div class="form-row">
              <div class="col-md-6 form-group wow animate__fadeInLeft" data-wow-duration="0.5s">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control wow animate__fadeInRight" data-wow-duration="0.5s" name="email"
                  id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control wow animate__fadeIn" data-wow-duration="0.5s" name="subject"
                id="subject" placeholder="Subject" data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject" />
            </div>
            <div class="form-group">
              <textarea class="form-control wow animate__fadeInUp" data-wow-duration="0.5s" name="message" rows="9"
                data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            </div>

            <div class="text-center">
              <button class="btn btn-dark wow animate__fadeInLeft my-5" data-wow-duration="0.5s" type="submit">Send
                Message</button>
            </div>
          </form>

        </div>

        <div class="col-lg-6 mt-lg-0  mx-auto">
          <div class="address ">
            <h5 class="mx-auto pl-3"><i class="fas fa-map-marker-alt vertical-line"> United Kingdom</i> <i class="fas fa-phone ml-3 vertical-line"> +44 2345
                9876</i> <i class="fas fa-envelope ml-3 vertical-line"> info@rngphotography.co.uk</i> </h5>
            <div class="container">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13818.893544709194!2d31.182491950000003!3d30.016098099999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1595007893752!5m2!1sen!2seg"
                width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>

            </div>
          </div>

        </div>

        <!-- contact us form -->

      </div>

    </div>
  </section>
</main>

{% endblock %}

{% block js %}
<!-- Animation style  -->
<script src="WOW-master/dist/wow.min.js"></script>
<script>
  new WOW().init();
</script>
{% endblock %}