<title>EMIL&ANA</title>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="patrick">


    <!-- new collection  -->
    <div class="container">
      <div class="row">
  
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/1.jpg' %}">
        </div>
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="lolo wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/3.jpg' %}">
        </div>
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="lolo wow animate__fadeIn" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/2.jpg' %}">
        </div>
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="lolo wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/3-3.jpg' %}">
        </div>
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/4.jpg' %}">
        </div>
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/4-4.jpg' %}">
        </div>
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="lolo wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/5.jpg' %}">
        </div>
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="lolo wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/6.jpg' %}">
        </div>
      </div>
    </div>
  
  
<!-- one image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5 mx-auto">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/7.jpg' %}">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/8.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/9.jpg' %}">
    </div>
        <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/10.jpg' %}">
    </div>

  </div>
</div>



<!-- three image  -->

<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/11.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/12.jpg' %}">
    </div>
        <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/13.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/14.jpg' %}">
    </div>

  </div>
</div>

<!-- tow image  -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/15.jpg' %}">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/17.jpg' %}">
    </div>

  </div>
</div>

<!-- three image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/18.jpg' %}">
    </div>
    <div class="col-lg-4">
      <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/19.jpg' %}">
    </div>
    <div class="col-lg-4">
      <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/20.jpg' %}">
    </div>
    
  </div>
</div>
<!-- tow image  -->
<div class="container">
  <div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/22.jpg' %}">
    </div>

  
  </div>
</div>
<!-- new new  -->
<div class="container">
<div class="row">
  <div class="col-lg-6 mt-5">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/24.jpg' %}">
  </div>
  <div class="col-lg-6 mt-5">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/26.jpg' %}">
  </div>
  <div class="col-lg-12 mt-5">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/25.jpg' %}">
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/27.jpg' %}">
  </div> 
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/28.jpg' %}">
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/29.jpg' %}">
  </div>

  </div>
</div>
</div>


<!-- new new  -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/30.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/32.jpg' %}">
    </div>
    <div class="col-lg-12 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/31.jpg' %}">
    </div>
  </div>
  </div>
  
<!-- new new  -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/33.jpg' %}">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/34.jpg' %}">
    </div>
    <div class="col-lg-12 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/35.jpg' %}">
    </div>
    <div class="col-lg-12 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/36.jpg' %}">
    </div>

  </div>
  </div>
  
<!-- new new  -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/37.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/38.jpg' %}">
    </div>
    <div class="col-lg-12 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/39.jpg' %}">
    </div>
  </div>
  </div>

<!-- 4 images  -->

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/40.jpg' %}">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/41.jpg' %}">
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/46.jpg' %}">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/42.jpg' %}">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/43.jpg' %}">
      </div>

    </div>
    </div>

    <!-- 4 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/44.jpg' %}">
        </div>
        <div class="col-lg-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/45.jpg' %}">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/47.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/48.jpg' %}">
        </div>
      </div>
      </div>
    

    <!-- 3 images  -->
    <div class="container mt-5">
      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/49.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/50.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/51.jpg' %}">
        </div>
       </div>
      </div>
    

    <!-- 5 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/52.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/53.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/54.jpg' %}">

        </div>
       </div>
      </div>
      <!-- 3 images  --> 
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/55.jpg' %}">
        </div>


          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
            <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/56.jpg' %}">
            <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/57.jpg' %}">
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
            <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/58.jpg' %}">
          </div>
        </div>
        </div>

    <!-- 4 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/59.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/60.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/61.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/62.jpg' %}">
        </div>
  
      </div>
      </div>

    <!-- 4 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/63.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/64.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/65.jpg' %}">
      </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mx-auto mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/66.jpg' %}">
        </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/67.jpg' %}">
        </div>
      </div>
      </div>


    <!-- 3 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/68.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/69.jpg' %}">
        </div>
       </div>
      </div>

      
    <!-- 4 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/70.jpg' %}">
          <img class="mt-3 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/78.jpg' %}">
        </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/79.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/80.jpg' %}">
        </div>
  
      </div>
      </div>
    <!-- 5 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/81.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/83.jpg' %}">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/82.jpg' %}">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/84.jpg' %}">
      </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/85.jpg' %}">
        </div>
       </div>
      </div>

    <!-- 4 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/86.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/87.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/88.jpg' %}">
      </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/89.jpg' %}">
        </div>
  
      </div>
      </div>
      
    <!-- 4 images  -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/90.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/91.jpg' %}">
        </div>
  
      </div>
      </div>


      
    <!-- 3 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/92.jpg' %}">
        </div>
        <div class="col-lg-4 mt-5 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/93.jpg' %}">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mx-auto mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/94.jpg' %}">
        </div>
       </div>
      </div>
      
      
    <!-- 3 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/95.jpg' %}">
          <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/97.jpg' %}">
        </div>
        <div class="col-lg-6 mt-5 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/96.jpg' %}">
        </div>
       </div>
      </div>
      
    <!-- 3 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/98.jpg' %}">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/100.jpg' %}">

       </div>
      </div>

        
    <!-- 3 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/101.jpg' %}">
        </div>
        <div class="col-lg-6 mt-5 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/102.jpg' %}">
          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/103.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/104.jpg' %}">
        </div>
       </div>
      </div>
      
    <!-- 3 images  -->
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/105.jpg' %}">

        </div>
        <div class="col-lg-6 mt-5 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/106.jpg' %}">
       </div>
      </div>
    </div>

    <!-- 3 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/107.jpg' %}">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/108.jpg' %}">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/109.jpg' %}">
       </div>
      </div>
    </div>

    
    <!-- 3 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/110.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/112.jpg' %}">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/111.jpg' %}">
        </div>
       </div>
      </div>
      
    <!-- 3 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/113.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/114.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/115.jpg' %}">
        </div>
       </div>
      </div>
      
    <!-- 3 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/116.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/117.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/118.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/119.jpg' %}">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mx-auto mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/131.jpg' %}">
        </div>
       </div>
      </div>

      
    <!-- 2 images  -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/120.jpg' %}">
        </div>
       </div>
      </div>
      
    <!-- 2 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/121.jpg' %}">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/122.jpg' %}">
        </div>

       </div>
      </div>
          <!-- 4 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/123.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/124.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/125.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/126.jpg' %}">
        </div>
       </div>
      </div>

                <!-- 1 images  -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/127.jpg' %}">
        </div>

      </div>
      </div>
            <!-- 4 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/128.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/128.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/129.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/130.jpg' %}">
        </div>
       </div>
      </div>
      <!-- 4 images  -->
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
            <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/132.jpg' %}">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
            <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/133.jpg' %}">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
            <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/134.jpg' %}">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
            <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/135.jpg' %}">
          </div>
         </div>
        </div>
      <!-- 4 images  -->
      <div class="container">
        <div class="row">

          <div class="col-lg-12 mt-5">
            <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/EMIL&ANA/136.jpg' %}">
          </div>
         </div>
        </div>
</main>


{% endblock %}