{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="faq">

  <div class="container wow animate__fadeInLeft" data-wow-duration="1s">
    <div class="row">
      <div class="col-lg-6 mt-5 ">
        <p>Home/<strong class="text-primary ">FAQs</strong></p>

          <h1 class="my-5">Your Question Answer</h1>
        <p>You can find answers to various questions from different categories on Answerbag You may ask questions on any
          topic but will need to register to do so. You can also browse through questions in selected categories of your
          choice and read all the questions and answers posted by other people.

        </p>
      </div>
      <div class="col-lg-6 my-5 w-100">
        <img class="border border-dark" src="{% static 'img/faq.jpg' %}">
      </div>

    </div>
  </div>

  <!-- Question and answer -->
  <div class="container wow animate__fadeIn" data-wow-duration="8s">
    <div class="row info">
      <div class="col-md-6">

        <h4 class="my-5 text-black-50 mx-5">What does the word ‘cardboard’ denote in the poem? Why has this word been
          used?</h4>
        <h5 class="mx-5">The word cardboard denotes the photograph pasted on a hard thick paper. This word has been used
          to refer to a practice in the past when photographs were pasted on cardboard and framed with glass front to
          preserve them.</h5>
      </div>

      <div class="col-md-6">
        <h4 class="my-5 text-black-50 mx-5">What does the word ‘cardboard’ denote in the poem? Why has this word been
          used?</h4>
        <h5 class="mx-5">The word cardboard denotes the photograph pasted on a hard thick paper. This word has been used
          to refer to a practice in the past when photographs were pasted on cardboard and framed with glass front to
          preserve them.</h5>

      </div>
    </div>
  </div>

  <div class="container wow animate__fadeIn" data-wow-duration="8s">
    <div class="row my-5 info">
      <div class="col-md-6">

        <h4 class="my-5 text-black-50 mx-5">What does the word ‘cardboard’ denote in the poem? Why has this word been
          used?</h4>
        <h5 class="mx-5">The word cardboard denotes the photograph pasted on a hard thick paper. This word has been used
          to refer to a practice in the past when photographs were pasted on cardboard and framed with glass front to
          preserve them.</h5>
      </div>

      <div class="col-md-6">
        <h4 class="my-5 text-black-50 mx-5">What does the word ‘cardboard’ denote in the poem? Why has this word been
          used?</h4>
        <h5 class="mx-5">The word cardboard denotes the photograph pasted on a hard thick paper. This word has been used
          to refer to a practice in the past when photographs were pasted on cardboard and framed with glass front to
          preserve them.</h5>

      </div>
    </div>
  </div>
  <div class="container wow animate__fadeIn" data-wow-duration="8s">
    <div class="row my-5 info">
      <div class="col-md-6">

        <h4 class="my-5 text-black-50 mx-5">What does the word ‘cardboard’ denote in the poem? Why has this word been
          used?</h4>
        <h5 class="mx-5">The word cardboard denotes the photograph pasted on a hard thick paper. This word has been used
          to refer to a practice in the past when photographs were pasted on cardboard and framed with glass front to
          preserve them.</h5>
      </div>

      <div class="col-md-6">
        <h4 class="my-5 text-black-50 mx-5">What does the word ‘cardboard’ denote in the poem? Why has this word been
          used?</h4>
        <h5 class="mx-5">The word cardboard denotes the photograph pasted on a hard thick paper. This word has been used
          to refer to a practice in the past when photographs were pasted on cardboard and framed with glass front to
          preserve them.</h5>

      </div>
    </div>
  </div>

  <!-- contact us  -->
  <section id="contact" class="container contact marginTop">
    <div class="col-lg-4 mx-auto my-5 text-center">
      <h1>Don't hesitate to ask any questions</h1>
    </div>
    <div class="col-lg-6 mt-5 mt-lg-0 mx-auto ">
      <form action="" method="post">
        <div class="form-row">
          <div class="col-md-6 form-group wow animate__fadeInLeft" data-wow-duration="1s">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
              data-msg="Please enter at least 4 chars" />
          </div>
          <div class="col-md-6 form-group">
            <input type="email" class="form-control wow animate__fadeInRight" data-wow-duration="1s" name="email"
              id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
          </div>
        </div>

        <div class="form-group">
          <textarea class="form-control wow animate__fadeIn" data-wow-duration="1s" name="message" rows="5"
            data-rule="required" data-msg="Please write something for us"
            placeholder="type your question here..."></textarea>
        </div>

        <div class="text-center"><button class="btn btn-primary wow animate__fadeInUp" data-wow-duration="1s"
            type="">Send</button></div>
      </form>

    </div>

    </div>

    </div>
  </section><!-- End Contact Section -->

</main>

{% endblock %}