<title>FREE PRE–WEDDING</title>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="pregnat">

  <div class="container pre1 mt-5">
    <div class="row">
      <div class="col-lg-4">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/free.jpg' %}">
      </div>
            <div class="col-lg-7 mx-auto text-center my-4 wow animate__fadeInUp" data-wow-duration="1s">
              <h3 class="">FREE PRE–WEDDING TRIAL SHOOT </h3>

              <p class="text-justify mt-3">I feel that a pre-wedding shoot is essential for both the groom and bride, as well as for me as a photographer.
                It usually if not always takes an hour. We start with a pre-wedding meeting, whether we get coffee, or even a
                beer, we can informally discuss your big day plans and what you dream of on that day. Then we go off to take a
                mini photo shoot at a location of your choice, parks and countryside’s are what I personally choose. We go for
                thirty minutes to one hour and take pictures every now and then whilst discussing what you are looking for etc.
                Once we are finished with the shoot and you realise it wasn’t as horrific as you thought it’d be, I will start
                to work on your photos. In the next two days, I will email you all your photos that were taken, in colour and
                black and white along with a watermark over the top of each image for you to review. By then, you will have an
                idea if I am the right photographer for your special day or not. If you are happy and are ready to book with me,
                I will ask for a 20% deposit and I will ask you to fill out a booking form online. Once everything has been
                returned to me, I will resend the photos without a watermark on them. This service is completely free of charge
                and you don’t have to book with me if you are not happy with the photos. You can simply walk off without any
                commitment to me.</p>
            </div>
      
    </div>
  </div>
<!-- one image  -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6  mx-auto">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/freee.jpg' %}">
    </div>
    <div class="col-lg-6 mx-auto mt-5">
      <img class="mt-3 wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/outdoor/outd3.jpg' %}">
    </div>

  </div>
</div>

  
<!-- one image  -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/d11.jpg' %}">
    </div>

  </div>
</div>
  <!-- new collection  -->
  <div class="container">
    <div class="row">

      <div class="col-lg-4 mt-5 mx-auto ">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/d8.jpg' %}">
      </div>
      <div class="col-lg-4 mt-5 mx-auto ">
        <img class="lolo wow animate__fadeIn" data-wow-duration="1s" src="{% static 'img/d10.jpg' %}">
      </div>
      <div class="col-lg-4 mt-5 mx-auto ">
        <img class="lolo wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/d7.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/d1.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5">
        <img class="lolo wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/d5.jpg' %}">
      </div>
    </div>
  </div>



<!-- collection images  -->

<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/d3.jpg' %}">

    </div>
    <div class="col-lg-6 mb-5">
      <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/d4.jpg' %}">
      <img class="mt-4  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/d13.jpg' %}">

    </div>
  </div>
</div>
<!-- three image  -->
<div class="container mb-5">
  <div class="row">
    <div class="col-lg-4">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/d2.jpg' %}">
    </div>
    <div class="col-lg-4">
      <img class="mb-5  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/d6.jpg' %}">
    </div>
    <div class="col-lg-4">
      <img class="mb-5  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/d14.jpg' %}">
    </div>
    
  </div>
</div>
<!-- three image  -->
<div class="container mb-5">
  <div class="row">
    <div class="col-lg-3">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/d22.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="mb-5 mt-2 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/d9.jpg' %}">
    </div>
    <div class="col-lg-3">
      <img class="mb-5  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/o5.jpg' %}">
    </div>
    
  </div>
</div>

<!-- tow image  -->
<div class="container mb-5">
  <div class="row">
    <div class="col-lg-5  mx-auto">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/fr11.jpg' %}">
    </div>
    <div class="col-lg-5  mx-auto">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/fr22.jpg' %}">
    </div>

  </div>
</div>


<!-- tow image  -->
<div class="container mb-5">
  <div class="row">
    <div class="col-lg-8">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/ww1.jpg' %}">
    </div>
    <div class="col-lg-4">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/ww2.jpg' %}">
    </div>

  </div>
</div>
<!-- emile  -->
<div class="container pre1 mt-5">
  <div class="row">
    <div class="col-lg-4">
      <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/o1.jpg' %}">
    </div>
    <div class="col-lg-4 mt-2">

            <img class="shadow my-2 wow animate__fadeIn" data-wow-duration="3s" src="{% static 'img/o3.jpg' %}">
            <img class="shadow my-2 wow animate__fadeIn" data-wow-duration="3s" src="{% static 'img/o6.jpg' %}">

          </div>
    <div class="col-lg-4">
      <img class="lolo wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/o4.jpg' %}">
    </div>
    
  </div>
</div>

<!-- four image  -->
<div class="container mb-5">
  <div class="row">
    <div class="col-lg-6 mt-3">
      <img class="mb-3 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/o7.jpg' %}">
    </div>
    <div class="col-lg-6 mt-3">
      <img class="mb-3  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/o8.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="mb-5  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/o9.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="mb-5  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/o2.jpg' %}">
    </div>
  </div>
</div>
</main>


{% endblock %}