
{% extends 'base.html' %}
{% load static %}

{% block title %}Your Amazing Photo{% endblock %}


{% block content %}
<main class="about container">
  <div class="text-center my-5">
    <h1 class="text-center underline-primary mt-5 wow animate__fadeIn" data-wow-duration="5s">
      Wellcome ({{user}})
    </h1>
  </div>
  <div class="lead wow animate__fadeIn" data-wow-duration="5s">
    <p>We are so happy for you, First of all, I do hope you enjoyed</p>
  </div>

  <!-- new gallery  -->
  <section class="row my-5">
    {% for img in user.images.all %}
    <div class="col-lg-3 pb-3"> 
      <a href="{{img.image.url}}"  data-lightbox="userImages" >
        <img class="wow animate__fadeInUp" data-wow-duration="0.7s" alt="userImage" src="{{img.image.url}}" /> 
     <a href="{{img.image.url}}" download="">Download</a>
      </a>
    </div>
    {% endfor %}
  </section>
  

</main>
{% endblock %}