<title>Portrait Headshot</title>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="">
  <div class="container pre1">
    <div class="row">

      <div class="col-lg-6 mx-auto mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/portrait/he1.png' %}">
      </div>
      <div class="col-lg-6 mx-auto mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/portrait/he2.png' %}">
      </div>
      <div class="col-lg-6 mx-auto mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/portrait/1q.png' %}">
      </div>
      <div class="col-lg-6 mx-auto mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/portrait/he3.png' %}">
      </div>
      <div class="col-lg-10 mt-5 mx-auto">
        <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n12.png' %}">
      </div>



      

      <div class="col-lg-6 mx-auto mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/portrait/2q.png' %}">
      </div>
      <div class="col-lg-6 mx-auto mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/portrait/3q.png' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/4q.png' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/5q.png' %}">
      </div>
    </div>
  </div>

<!-- three images  -->
<div class="container ">
  <div class="row">
    <div class="col-lg-4 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/ou1.png' %}">
    </div>
    <div class="col-lg-4 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/ou2.png' %}">
    </div>
    <div class="col-lg-4 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/ou3.png' %}">
    </div>
    

  </div>
</div>


<!-- collection imagess 2 -->
<div class="container  mt-5">
  <div class="row">

          <div class="col-lg-8 mt-5 mx-auto">
            <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/nw12.jpg' %}">
          </div>
  </div>
</div>
<!-- tow imagesss -->
<div class="container ">
  <div class="row">
    
<div class="col-lg-12 mt-5">
  <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/ou4.jpg' %}">
</div>
<div class="col-lg-12 mt-5">
  <img class="lolo wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/ou5.jpg' %}">
</div>

  </div>
</div>


<!-- three image  -->
<div class="container ">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/ou7.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/ou6.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5 mx-auto">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/ou8.jpg' %}">
    </div>
    
  </div>
</div>

<!-- collection imagess 2 -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-5">
      <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/out11.jpg' %}">
    </div>
    <div class="col-lg-8 mt-5">
            <img class="shadow wow animate__fadeIn" data-wow-duration="3s" src="{% static 'img/out55.jpg' %}">
          </div>
    
  </div>
</div>

<!-- collection imagess 3 -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/out22.jpg' %}">
    </div>
          <div class="col-lg-6 mt-5">
            <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/out33.jpg' %}">
          </div>    
          <div class="col-lg-12 mt-5">
            <img class="shadow wow animate__fadeIn" data-wow-duration="3s" src="{% static 'img/out44.jpg' %}">
          </div>
        </div>
</div>

<!-- tow image  -->

<div class="container">
  <div class="row">
          <div class="col-lg-12 mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/portrait/he4.jpg' %}">
      </div>
      <div class="col-lg-12 mt-5">
        <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/portrait/he5.jpg' %}">
      </div>
    </div>
</div>

<!-- one image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/he6.jpg' %}">
    </div>
    <div class="col-lg-12 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n9.jpg' %}">
    </div>

  </div>
</div>

<!-- tow image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n2.jpg' %}">
    </div>
    <div class="col-lg-8 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n10.jpg' %}">
    </div>

  </div>
</div>



<!-- tow image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n3.jpg' %}">
    </div>
    <div class="col-lg-8 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n1.jpg' %}">
    </div>

  </div>
</div>
<!-- collection images  -->

<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/he7.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/black1.jpg' %}">

    </div>
  </div>
</div>

<!-- tow image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n8.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n11.png' %}">
    </div>

  </div>
</div>


<!-- three image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-7 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/h4.jpg' %}">

    </div>
    <div class="col-lg-5 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/h5.jpg' %}">
      <img class="mt-4 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/h19.jpg' %}">
      <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/he5.jpg' %}">
    </div>
  </div>
</div>



<!-- tow image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n7.jpg' %}">
    </div>
    <div class="col-lg-8">
      <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n6.jpg' %}">
    </div>

  </div>
</div>
<!-- collection imagess  -->
<div class="container pre1">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/portrait/h1.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="lolo wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/h3.jpg' %}">
    </div>
    <div class="col-lg-12 mt-5">
            <img class="shadow wow animate__fadeIn" data-wow-duration="3s" src="{% static 'img/portrait/h2.jpg' %}">
           </div>
           <div class="col-lg-12 mt-5">
           <img class="mt-4 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/he9.jpg' %}">
          </div>
          <div class="col-lg-12 mt-5">
          <img class="shadow wow animate__fadeIn" data-wow-duration="3s" src="{% static 'img/portrait/h10.jpg' %}">
        </div>
        <div class="col-lg-5 mx-auto mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/nw.jpg' %}">
        </div>

  </div>
</div>




<!-- three image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n13.jpg' %}">
    </div>
    <div class="col-lg-4 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n14.jpg' %}">
    </div>
    <div class="col-lg-4 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n15.jpg' %}">
    </div>
  </div>
</div>

<!-- tow image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n5.jpg' %}">
    </div>
    <div class="col-lg-8 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/n4.jpg' %}">
    </div>

  </div>
</div>

<!-- one image  -->
<div class="container mx-auto mt-5">
  <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/h11.jpg' %}">
</div>

<!-- three image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/h9.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/h6.jpg' %}">
    </div>
    <div class="col-lg-6 mx-auto mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/portrait/h12.jpg' %}">
    </div>


  </div>
</div>
</main>

{% endblock %}