<title>JOHN&</title>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="patrick">


<!-- three image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/18.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/19.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/20.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/21.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/22.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/23.jpg' %}">
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 mt-5 mx-auto">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/9.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/24.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/26.jpg' %}">
    </div>
  
  </div>
</div>

  


<!-- tow image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/15.jpg' %}">
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/10.jpg' %}">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/16.jpg' %}">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/17.jpg' %}">
    </div>

  </div>
</div>


<!-- new new  -->

<div class="container">
<div class="row">
  
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/25.jpg' %}">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
    <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/3.jpg' %}">
  </div>
  </div>
</div>
</div>


<!-- new new  -->
<div class="container">
  <div class="row">
    

    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 mt-5">
      <img class=" wow animate__fadeIn" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/2.jpg' %}">
    </div>

    <div class="col-lg-6 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/5.jpg' %}">
    </div>
    
    <div class="col-lg-6 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/31.jpg' %}">
    </div>
          <div class="col-lg-6 mt-5">
            <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/30.jpg' %}">
          </div>
    <div class="col-lg-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/32.jpg' %}">
    </div>
  </div>
  </div>
        <!-- 3 images  --> 
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mt-5">
              <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/57.jpg' %}">
            </div>
            <div class="col-lg-6 mt-5">
              <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/59.jpg' %}">
            </div>
                  <div class="col-lg-7 mx-auto mt-5">
                    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/58.jpg' %}">
                  </div>
          </div>
          </div>
  
<!-- new new  -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/33.jpg' %}">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/34.jpg' %}">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/35.jpg' %}">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/36.jpg' %}">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/37.jpg' %}">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/38.jpg' %}">
    </div>
  </div>
  </div>
  <!-- 3 images  -->
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/88.jpg' %}">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/90.jpg' %}">
      </div>

    </div>
    </div>

<!-- 4 images  -->

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/39.jpg' %}">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/41.jpg' %}">
      </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 mt-5 mx-auto">
              <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/40.jpg' %}">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
              <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/42.png' %}">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/43.png' %}">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/4.jpg' %}">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/44.jpg' %}">
      </div>
    </div>
    </div>

    <!-- 4 images  -->
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/45.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/46.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/48.jpg' %}">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/47.jpg' %}">
        </div>
  
      </div>
      </div>
    

    <!-- 3 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/49.png' %}">
          <img class="wow animate__fadeInRight mt-5" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/50.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/51.jpg' %}">
        </div>
       </div>
      </div>
    

    <!-- 5 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/52.png' %}">
        </div>
        <div class="col-lg-7 col-md-9 col-sm-9 col-xs-9 mx-auto mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/55.png' %}">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/53.jpg' %}">
        </div>
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/1.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/54.png' %}">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/56.png' %}">
        </div>

      <div class="col-lg-12 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/60.jpg' %}">
      </div>
      <div class="col-lg-12 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/61.jpg' %}">
      </div>
      <div class="col-lg-12 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/62.jpg' %}">
      </div>
      </div>
      </div>

    

    <!-- 4 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/64.png' %}">
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/65.jpg' %}">
      </div>
      
      </div>
      </div>



































      
    <!-- 5 images  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 mx-auto mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/1q.jpg' %}">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/2q.jpg' %}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/3q.jpg' %}">
        </div>
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/4q.jpg' %}">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/5q.jpg' %}">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/6q.jpg' %}">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
          <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/7q.jpg' %}">
      </div>
      <div class="col-lg-12 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/8q.jpg' %}">
      </div>
      <div class="col-lg-12 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/9q.jpg' %}">
      </div>
      
      <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 mx-auto mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/10q.jpg' %}">
      </div>
      <div class="col-lg-12 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/11q.jpg' %}">
      </div>
      <div class="col-lg-12 mt-5">
        <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/JOHN/12q.jpg' %}">
      </div>
      </div>
      </div>

    
</main>


{% endblock %}