{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start senconSection -->
<main class="pricing container">
  <div class="">
    <div class="text-center">

      <div class="row  marginTop">

        <div class="mx-auto ">
          <h4 class="text-center underline-primary"> NEWBORN </h4>
        </div>
      </div>

      <h5 class="col-lg-6 my-5 text-justify mx-auto wow animate__fadeIn" data-wow-duration="2s">
        As the chapter of life begins, what better way to document those precious baby features that change so quickly. The photos of new-borns truly are photos of a lifetime that all can look back on with cherished memories.
      </h5>

    </div>
  <!-- End senconSection -->
  <!-- Start Cards -->
  <div class="container marginTop">
    <div class="row ">
      <!-- first Card  -->

      <div class="col-lg-6 mt-5 border-0">
        <a href="#">
          <div class="card hoverable wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/baby1.jpg' %}" class="card-img-top border-0" alt="family portrait">

          </div>
        </a>
      </div>

      <div class="col-lg-6 mt-5 box border-0 align-self-center wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
        <h4 class="card-text text-dark my-2">(Little sunshine) £170</h4>
        <h3 class="text-muted my-3">Full use of props</h3>
        <h3 class="text-muted my-3">2 hours shoot</h3>
        <ul>
          <li>Includes USB with high resolution images.</li>
          <li>An online password protected viewing and sharing gallery for friends and family.</li>
          <li>10 images fully edited (change background -face retouch)</li>
          <p class="mt-3">extra photo editing charge will be applied </p>
          <li>Prints can be added as requested.</li>
        </ul>
        <!-- <div class="card-footer bg-dark text-center">
          <h5 class="text-white text-center">For £170</h5>
        </div> -->

        </div>

      <!-- second Card  -->
      <div class="col-lg-6 mt-5  border-0">
        <a href="#">
          <div class="wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/baby2.png' %}" class="card-img-top mt-5 border-0" alt="family photographer">
            <!-- <div class="card-body">
              <h4 class="card-text text-dark my-2">Sky’s Limit Package.</h4>
            </div> -->

          </div>
        </a>
      </div>

      <div class="col-lg-6 mt-5 box border-0 align-self-center wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
        <h4 class="card-text text-dark my-2">(Honey Bunny) £250</h4>
        <h3 class="text-muted my-3">Full use of props</h3>
        <h3 class="text-muted my-3">3 hours shoot</h3>

        
        <ul>
              <li>Includes USB with high resolution images.</li>
              <li>An online password protected viewing and sharing gallery for friends and family.</li>
              <li>20 images fully edited (change background -face retouch)</li>
              <p class="mt-3">extra photo editing charge will be applied </p>
              <li>Prints can be added as requested.</li>
        </ul>


        <!-- <div class="card-footer bg-dark text-center">
          <h5 class="text-white text-center">For £250</h5>
        </div> -->

        </div>



      <!-- thirdCard  -->
      <div class="col-lg-6 mt-5 box border-0">
        <a href="#">
          <div class="wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/baby3.jpg' %}" class="card-img-top mt-5 border-0" alt="local photographers">
            <!-- <div class="card-body">
              <h4 class="card-text text-dark my-2">Heavenly Package.</h4>

            </div>
 -->

          </div>
        </a>
      </div>
  
  <div class="col-lg-6 mt-5  box border-0 align-self-center wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
    <h4 class="card-text text-dark my-2">(Sugar pie) £350</h4>
    <h3 class="text-muted my-3"> Full use of props  </h3>
    <h3 class="text-muted my-3"> 3 hours shoot </h3>

    <ul>
          <li>Includes USB with high resolution images.</li>
          <li>An online password protected viewing and sharing gallery for friends and family.</li>
          <li>30 images fully edited (change background -face retouch)</li>
          <p class="mt-3">extra photo editing charge will be applied </p>
          <li>Prints can be added as requested.</li>
    </ul>

    <!-- <div class="card-footer bg-dark text-center">
      <h5 class="text-white text-center">For £350</h5>
    </div> -->

    </div>
  </div>
</div>
<div class=" my-5"><br></div>
</main>


<!-- end section about  -->





{% endblock %}

{% block js %}
<!-- Animation style  -->
<script src="WOW-master/dist/wow.min.js"></script>
<script>
  new WOW().init();
</script>
{% endblock %}