<title>Newborn</title>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start senconSection -->
<main class="pricing container">
  <div class="">
    <div class="text-center">

      <div class="row  marginTop">

        <div class="mx-auto ">
          <h4 class="text-center underline-primary"> NEWBORN </h4>
        </div>
      </div>

      <h5 class="col-lg-6 my-5 text-justify mx-auto wow animate__fadeIn" data-wow-duration="2s">
        As the chapter of life begins, what better way to document those precious baby features that change so quickly. The photos of new-borns truly are photos of a lifetime that all can look back on with cherished memories.
      </h5>

    </div>
  <!-- End senconSection -->
  <!-- Start Cards -->
  <div class="container marginTop">
    <div class="row ">
      <!-- first Card  -->

      <div class="col-lg-6 mt-5 border-0">
        <a href="#">
          <div class="card hoverable wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/baby1.jpg' %}" class="card-img-top border-0" alt="family portrait">

          </div>
        </a>
      </div>

      <div class="col-lg-6 mt-5 box border-0 align-self-center wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
        <h4 class="card-text text-dark my-2">(Little sunshine) £170</h4>
        <h3 class="text-muted my-3">Full use of props</h3>
        <h3 class="text-muted my-3">2 hours shoot</h3>
        <ul>
          <!-- <li>Includes USB with high resolution images.</li> -->
          <li>An online password protected viewing and sharing gallery for friends and family.</li>
          <li>10 images fully edited (change background -face retouch)</li>
          <p class="mt-3">extra photo editing charge will be applied </p>
          <li>Prints can be added as requested.</li>
        </ul>
        <!-- <div class="card-footer bg-dark text-center">
          <h5 class="text-white text-center">For £170</h5>
        </div> -->

        </div>

      <!-- second Card  -->
      <div class="col-lg-6 mt-5  border-0">
        <a href="#">
          <div class="wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/baby2.png' %}" class="card-img-top mt-5 border-0" alt="family photographer">
            <!-- <div class="card-body">
              <h4 class="card-text text-dark my-2">Sky’s Limit Package.</h4>
            </div> -->

          </div>
        </a>
      </div>

      <div class="col-lg-6 mt-5 box border-0 align-self-center wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
        <h4 class="card-text text-dark my-2">(Honey Bunny) £250</h4>
        <h3 class="text-muted my-3">Full use of props</h3>
        <h3 class="text-muted my-3">3 hours shoot</h3>

        
        <ul>
              <!-- <li>Includes USB with high resolution images.</li> -->
              <li>An online password protected viewing and sharing gallery for friends and family.</li>
              <li>20 images fully edited (change background -face retouch)</li>
              <p class="mt-3">extra photo editing charge will be applied </p>
              <li>Prints can be added as requested.</li>
        </ul>


        <!-- <div class="card-footer bg-dark text-center">
          <h5 class="text-white text-center">For £250</h5>
        </div> -->

        </div>



      <!-- thirdCard  -->
      <div class="col-lg-6 mt-5 box border-0">
        <a href="#">
          <div class="wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/baby3.jpg' %}" class="card-img-top mt-5 border-0" alt="local photographers">
            <!-- <div class="card-body">
              <h4 class="card-text text-dark my-2">Heavenly Package.</h4>

            </div>
 -->

          </div>
        </a>
      </div>
  
  <div class="col-lg-6 mt-5  box border-0 align-self-center wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
    <h4 class="card-text text-dark my-2">(Sugar pie) £350</h4>
    <h3 class="text-muted my-3"> Full use of props  </h3>
    <h3 class="text-muted my-3"> 3 hours shoot </h3>

    <ul>
          <li>An online password protected viewing and sharing gallery for friends and family.</li>
          <li>30 images fully edited (change background -face retouch)</li>
          <p class="mt-3">extra photo editing charge will be applied </p>
          <li>Prints can be added as requested.</li>
    </ul>

    <!-- <div class="card-footer bg-dark text-center">
      <h5 class="text-white text-center">For £350</h5>
    </div> -->

    </div>
  </div>
</div>


<!-- tow image-->

<div class="container mb-5 mt-5">
  <div class="row">

    <div class="col-lg-12">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/19.jpg' %}">
    </div>

    
  </div>
</div>




<div class="container mb-5 mt-5">
  <div class="row">

    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/17.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/18.jpg' %}">
    </div>
    
  </div>
</div>


<div class="container mb-5 mt-5">
  <div class="row">

    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/15.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/16.jpg' %}">
    </div>
    
  </div>
</div>


<div class="container mb-5 mt-5">
  <div class="row">

    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/13.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/14.jpg' %}">
    </div>
    
  </div>
</div>



<div class="container mb-5 mt-5">
  <div class="row">

    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/11.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/12.jpg' %}">
    </div>
    
  </div>
</div>


<div class="container mb-5 mt-5">
  <div class="row">

    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/8.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/10.jpg' %}">
    </div>
    
  </div>
</div>

<div class="container mb-5 mt-5">
  <div class="row">

    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/7.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/9.jpg' %}">
    </div>
    
  </div>
</div>


<div class="container mb-5 mt-5">
  <div class="row">

    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/5.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/6.jpg' %}">
    </div>
    
  </div>
</div>


<div class="container mb-5 mt-5">
  <div class="row">

    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/3.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/4.jpg' %}">
    </div>
    
  </div>
</div>



<div class="container mb-5 mt-5">
  <div class="row">

    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/1.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/latest/2.jpg' %}">
    </div>
    
  </div>
</div>













<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/n1.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/n2.jpg' %}">
    </div>
    
  </div>
</div>


<!-- one image-->
<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/2n.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/3n.jpg' %}">
    </div>
    
  </div>
</div>



<!-- three image-->
<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-lg-4">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/nn1.jpg' %}">
    </div>
    <div class="col-lg-4">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/middle.jpg' %}">
    </div>
    <div class="col-lg-4">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/nn3.jpg' %}">
    </div>
    
  </div>
</div>

<!-- three image-->
<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-lg-12">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/nn2.jpg' %}">
    </div>
    
    
  </div>
</div>


<!-- one image-->
<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/11.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/22.jpg' %}">
    </div>
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/33.jpg' %}">
    </div>
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/44.jpg' %}">
    </div>
    <div class="col-lg-12 mt-5">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/55.jpg' %}">
    </div>
  </div>
</div>

<!-- new Album -->
<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/1.jpg' %}">
    </div>
    <div class="col-lg-6">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/2.jpg' %}">
    </div>
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/3.jpg' %}">
    </div>
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/4.jpg' %}">
    </div>
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/5.jpg' %}">
    </div>
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/6.jpg' %}">
    </div>
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/7.jpg' %}">
    </div>
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/8.jpg' %}">
    </div>
    <div class="col-lg-12 mt3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/9.jpg' %}">
    </div>
    <div class="col-lg-12 mt5">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/10.jpg' %}">
    </div>



    <div class="col-lg-6 mt5">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/11.jpg' %}">
    </div>
    <div class="col-lg-6 mt-4">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/13.jpg' %}">
    </div>
    <div class="col-lg-12 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/12.jpg' %}">
    </div>
    <div class="col-lg-12 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/14.jpg' %}">
    </div>
    <div class="col-lg-12 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/15.jpg' %}">
    </div>
    <div class="col-lg-12 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/16.jpg' %}">
    </div>
    <div class="col-lg-12 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/17.jpg' %}">
    </div>
    <div class="col-lg-12 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/18.jpg' %}">
    </div>
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/19.jpg' %}">
    </div>
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/22.jpg' %}">
    </div>



    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/20.jpg' %}">
    </div>
    <div class="col-lg-6 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/21.jpg' %}">
    </div>
    <div class="col-lg-4 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/23.jpg' %}">
    </div>
    <div class="col-lg-4 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/24.jpg' %}">
    </div>
    <div class="col-lg-4 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/25.jpg' %}">
    </div>
    <div class="col-lg-12 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/26.jpg' %}">
    </div>
    <div class="col-lg-12 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/27.jpg' %}">
    </div>
    <div class="col-lg-4 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/28.jpg' %}">
    </div>
    <div class="col-lg-4 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/29.jpg' %}">
    </div>
    <div class="col-lg-4 mt-3">
      <img class="wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/newborn/new/30.jpg' %}">
    </div>




  </div>
</div>


<div class=" my-5"><br></div>
</main>


<!-- end section about  -->
{% endblock %}