<title>PARTIES & EVENTS</title>


{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start senconSection -->
<main class="pricing container mt-3">
  <div class="mb-5">
    <div class="text-center">
      <!-- <div class="mx-auto ">
        <h4 class="text-center underline-primary"> Cake Smash & Party </h4>
      </div>
      <h5 class="col-lg-6 my-5 text-justify mx-auto wow animate__fadeIn" data-wow-duration="2s">

        Cake Smashes are one of my favourite sessions to shoot, because it’s fun and unique. Why not celebrate your
        baby’s first birthday & your first year of parenting with a heart-warming cake smash and splash session to
        capture your baby’s varied expressions at this age, and all the fun of being one. This session last 1-2 hours.
        The session is made up of 3 parts to give you a wide variety of images in your final gallery: some portraits
        taken before the cake comes out, the cake smash itself - the messy destruction of a birthday cake; and then
        images of your baby splashing about in a tub of warm, bubbly water to help clean the cake off (this part is
        optional). However this last part tends to be a favourite with the babies.
        <b> You need to provide cake because some kids have food allergies and parents know that best. </b>



      </h5> -->




      <!-- border offer  -->
      <!-- <div class="pricing-border col-md-6 mx-auto container marginTop">
        <div class="module text-justify">
          <h3> Session fee </h3>
          £80 weekdays & £100 weekends and bank holidays. <br>
          Please note that no products (digitals or prints) are included in the session fee. Please also choose a
          package from below.


        </div>
      </div> -->




  <!-- PARTIES & EVENTS  -->

  <div class="row mt-5 ">

    <div class="col-lg-6 mx-auto wow animate__fadeIn" data-wow-duration="2s">
      <h2> PARTIES & EVENTS </h2>
      <h4> Minimum booking is 2 hours, prices start from £ 300. </h4>
      <h5> The following rates and prices cover attendance, travel. An online password protected viewing and sharing gallery for friends and family. The online gallery lasts for 90 full days. </h5>
      <h5> Prices below cover one photographer. </h5>
     
      <ul>

        <li>Two hours photography, £300</li>
        <li>Three hours photography, £400</li>
        <li>Four hours photography, £500</li>
        <li>Five hours photography, 575</li>
        <li>Six hours photography, £650</li>
        <li>Seven hours photography, £725</li>
        <li>Full day (eight hours) photography, £800</li>


      </ul>


      <!-- <div class="card-footer bg-dark text-center">
          <h5 class="text-white text-center">For £160</h5>
        </div> -->

    </div>
  </div>
  </div>


  <!-- End senconSection -->







<!-- 
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/8.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/9.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/10.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/12.jpg' %}">
      </div>


      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/13.jpg' %}">
      </div> -->

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/14.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/15.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/16.jpg' %}">
      </div>

      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/17.jpg' %}">
      </div>

      <div class="col-lg-7 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/18.jpg' %}">
      </div>
      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/19.jpg' %}">
      </div>

      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/20.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/21.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/22.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/23.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/24.jpg' %}">
      </div>



      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/25.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/26.jpg' %}">
      </div>

      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/27.jpg' %}">
      </div>

      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/28.jpg' %}">
      </div>

      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/29.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/30.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/31.jpg' %}">
      </div>

      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/32.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/33.jpg' %}">
      </div>

      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/34.jpg' %}">
      </div>

      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/1/35.jpg' %}">
      </div>
























      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party7.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party8.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party10.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party9.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party20.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party11.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party12.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party13.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party14.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party15.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party16.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party17.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party18.jpg' %}">
      </div>
      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party19.jpg' %}">

      </div>
      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party21.jpg' %}">

      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party22.jpg' %}">

      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party23.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party24.jpg' %}">

      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party25.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party26.jpg' %}">
      </div>
      <div class="col-lg-6 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party27.jpg' %}">
        <img class="mt-5 wow animate__fadeInLeft" data-wow-duration="1s"
          src="{% static 'img/cake&party/party29.jpg' %}">

      </div>
      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party28.jpg' %}">
      </div>

      <div class="col-lg-12 mt-5 mx-auto">
        <img class=" wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/cake&party/party30.jpg' %}">
      </div>




    </div>
  </div>


</main>


<!-- end section about  -->
{% endblock %}