<title>Patrick&Engy</title>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="patrick">


    <!-- new collection  -->
    <div class="container">
      <div class="row">
  
        <div class="col-lg-4  col-md-6 col-sm-6 col-xs-6 mt-2">
          <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/1.jpg' %}">
        </div>
        <div class="col-lg-4  col-md-6 col-sm-6 col-xs-6 mt-2">
          <img class="lolo wow animate__fadeIn" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/2.jpg' %}">
        </div>
        <div class="col-lg-4  col-md-6 col-sm-6 col-xs-6 mt-2">
          <img class="lolo wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/3.jpg' %}">
        </div>
        <div class="col-lg-4  col-md-6 col-sm-6 col-xs-6 mt-2">
          <img class="lolo wow animate__fadeInLeft" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/4.jpg' %}">
        </div>
        <div class="col-lg-4  col-md-6 col-sm-6 col-xs-6 mt-2">
          <img class="lolo wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/5.jpg' %}">
        </div>
        <div class="col-lg-4  col-md-6 col-sm-6 col-xs-6 mt-2">
          <img class="lolo wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/6.jpg' %}">
        </div>
      </div>
    </div>
  
  
<!-- one image  -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12  mx-auto">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/7.jpg' %}">
    </div>

  </div>
</div>



<!-- collection images  -->

<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/8.jpg' %}">
    </div>
    <div class="col-lg-4 mb-5">
      <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/9.jpg' %}">
    </div>
        <div class="col-lg-4 mb-5">
      <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/10.jpg' %}">
    </div>
  </div>
</div>
<!-- three image  -->

<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-2">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/11.jpg' %}">
    </div>
    <div class="col-lg-4 mt-2">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/12.jpg' %}">
    </div>
        <div class="col-lg-4 mt-2">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/13.jpg' %}">
    </div>
  </div>
</div>

<!-- tow image  -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-sm-6 mx-auto">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/14.jpg' %}">
    </div>
    <div class="col-lg-6 col-sm-6 mx-auto">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/15.jpg' %}">
    </div>

  </div>
</div>

<!-- three image  -->
<div class="container mb-5">
  <div class="row">
    <div class="col-lg-4">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/16.jpg' %}">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/19.jpg' %}">

    </div>
    <div class="col-lg-4">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/17.jpg' %}">
    </div>
    <div class="col-lg-4">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/18.jpg' %}">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/20.jpg' %}">

    </div>
    
  </div>
</div>
<!-- tow image  -->
<div class="container mb-5">
  <div class="row">
    <div class="col-lg-8 col-sm-8">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/21.jpg' %}">
    </div>
    <div class="col-lg-4 col-sm-4">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/22.jpg' %}">
    </div>

  </div>
</div>
<!-- new new  -->
<div class="container">
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/23.jpg' %}">
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/24.jpg' %}">
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/25.jpg' %}">
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mt-2">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/26.jpg' %}">
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mt-2">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/27.jpg' %}">
  </div>
  <div class="col-lg-4  col-md-6 col-sm-6 col-xs-6 mt-2">
    <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/28.jpg' %}">
  </div>
</div>
</div>

<!-- one image  -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12  mx-auto">
      <img class="mb-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/29.jpg' %}">
    </div>

  </div>
</div>

<!-- new new  -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-2">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/30.jpg' %}">
    </div>
    <div class="col-lg-4 mt-2">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/31.jpg' %}">
    </div>
    <div class="col-lg-4 mt-2">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/32.jpg' %}">
    </div>
  </div>
  </div>
  
<!-- new new  -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-2">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/33.jpg' %}">
    </div>
    <div class="col-lg-4 mt-2">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/34.jpg' %}">
    </div>
    <div class="col-lg-4 mt-2">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/35.jpg' %}">
    </div>
  </div>
  </div>
  
<!-- new new  -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-2">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/36.jpg' %}">
    </div>
    <div class="col-lg-4 mt-2">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/37.jpg' %}">
    </div>
    <div class="col-lg-4 mt-2">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/Patrick&Engy/38.jpg' %}">
    </div>
  </div>
  </div>
</main>


{% endblock %}