{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="pregnat">

  <div class="container pre1 mt-5">
    <div class="row">
      <div class="col-lg-4">
        <img class="border  shadow wow animate__fadeInUp" data-wow-duration="1s" src="{% static 'img/pre.jpg' %}">
      </div>
      
            <div class="col-lg-4 mt-6 wow animate__fadeInUp" data-wow-duration="1s">
                <h2 class="underline-primary">A New Life Is Coming</h2>
              <p class="text-center"> You can find answers to various questions from different categories 
                You may ask questions on any topic. 

              </p>
            </div>
            <img class="border shadow pre border-dark mt-3 wow animate__fadeInUp" data-wow-duration="1s" src="{% static 'img/baby.jpg' %}">
      <div class="col-lg-4">
        <img class="border shadow wow animate__fadeInUp" data-wow-duration="1s" src="{% static 'img/pre2.jpg' %}">
      </div>
      
    </div>
  </div>

  <!-- escond section -->
  <img class="wow animate__fadeInUp w-100 " data-wow-duration="1s" src="{% static 'img/pre3.jpg' %}">


  <!-- Third section -->

  <div class="container mt-5">
    <div class="row">
    <img class="col-lg-6 wow animate__fadeInUp" data-wow-duration="1s" src="{% static 'img/pre4.jpg' %}">
    <img class="col-lg-6 wow animate__fadeInUp" data-wow-duration="1s" src="{% static 'img/pre5.jpg' %}">

  </div>
</div>


  <!-- contact us  -->
  <section id="contact" class="container contact marginTop">
    <div class="col-lg-4 mx-auto my-5 text-center">
      <h1>Don't hesitate to ask any questions</h1>
    </div>
    <div class="col-lg-6 mt-5 mt-lg-0 mx-auto ">
      <form action="" method="post">
        <div class="form-row">
          <div class="col-md-6 form-group wow animate__fadeInLeft" data-wow-duration="1s">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
              data-msg="Please enter at least 4 chars" />
          </div>
          <div class="col-md-6 form-group">
            <input type="email" class="form-control wow animate__fadeInRight" data-wow-duration="1s" name="email"
              id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
          </div>
        </div>

        <div class="form-group">
          <textarea class="form-control wow animate__fadeIn" data-wow-duration="1s" name="message" rows="5"
            data-rule="required" data-msg="Please write something for us"
            placeholder="type your question here..."></textarea>
        </div>

        <div class="text-center"><button class="btn btn-primary wow animate__fadeInUp" data-wow-duration="1s"
            type="">Send</button></div>
      </form>

    </div>

    </div>

    </div>
  </section><!-- End Contact Section -->

</main>

{% endblock %}

{% block js %}
<!-- Animation style  -->
<script src="WOW-master/dist/wow.min.js"></script>
<script>
  new WOW().init();
</script>
{% endblock %}