{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start senconSection -->
<main class="price container">
  <div class="">
    <div class="col-lg-12 text-center my-5 section-title">
      <img src="{% static 'img/price.jpg' %}" class="imag container col-lg-12 wow animate__fadeIn"
        data-wow-duration="3s">

      <div class="row">

        <div class="carousel-caption">
          <h5 class="col-md-12 text-center">Bringing heaven into your hands</h5>
          <h2 class="col-md-12 text-center">WEDDING</h2>
        </div>
      </div>

      <h1 class="my-5 wow animate__fadeIn" data-wow-duration="5s">E V E R Y C O U P L E A R E S P E C I A L, <br>S A M E
        F O R T H E I R W E D D I N G </h1>

    </div>
    <div>
      <p class="container wow animate__fadeIn" data-wow-duration="5s">Finding a photographer for weddings is definitely
        a hard task and can make this even harder depending on the date, venue or season. Marriage is a once in a
        lifetime experience and getting it right it is very essential. When looking for a wedding photographer, you
        should look further beyond the price itself. Keeping things simple and easy is what I like to do, and I’ve
        decided that my prices should imitate this. I am never the kind of person to try and cost you extra with hidden
        charges or any unexpected requirements. Just what you need nice and easy, elegant posed photographs, great
        natural shots and amazing photos! I think I am the right photographer for you, I like to watch the day unfold
        and simply capture it in front of my lens. From getting ready and planning, to the first dance, I want to make
        sure every moment is captured and ready for you to look back on for years to come. It’s why I bring all my
        skills to your big day, and I ensure that the photos bring you back to that same special moment. With a relaxed
        and easy approach, the joy and sheer happiness of your wedding day is what drives my photography. I capture all
        the emotions displayed, the laughs, the tears and the important and crucial details you have chosen. I simply
        want to provide you the emotive and beautiful images you deserve. My friendly yet professional nature makes it
        very easy for you to invite me into your world. On a budget? That doesn’t matter, I am here to help you with any
        needs you have regarding price or anything of the sorts, I just want to make your big day special and memorable.
      </p>
    </div>
  </div>
  </div>
  <!-- End senconSection -->
  <!-- Start Cards -->
  <div class="container marginTop">
    <div class="row ">
      <!-- first Card  -->
      <div class="col-sm-4 box border-0">
        <a href="#">
          <div class="card hoverable wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/price1.jpg' %}" class="card-img-top border-0" alt="">
            <div class="card-body">
              <h4 class="card-text text-dark my-2">Heavenly Package.</h4>
              <p class="my-4 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dignissimos quos
                repudiandae alias, quaerat </p>

            </div>
            <div class="card-footer bg-dark text-center">
              <h5 class="text-white text-center">For £1295</h5>
            </div>

          </div>
        </a>
      </div>

      <!-- second Card  -->
      <div class="col-sm-4 box border-0">
        <a href="#">
          <div class="card hoverable wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/price2.jpg' %}" class="card-img-top border-0" alt="">
            <div class="card-body">
              <h4 class="card-text text-dark my-2">Touching Clouds Package.</h4>
              <p class="my-4 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dignissimos quos
                repudiandae alias, quaerat </p>
            </div>
            <div class="card-footer bg-dark text-center">
              <h5 class="text-white text-center">For £695</h5>
            </div>

          </div>
        </a>
      </div>

      <!-- thirdCard  -->
      <div class="col-sm-4 box border-0">
        <a href="#">
          <div class="card hoverable wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/price3.jpg' %}" class="card-img-top border-0" alt="">
            <div class="card-body">
              <h4 class="card-text text-dark my-2">Sky’s Limit Package.</h4>
              <p class="my-4 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dignissimos quos
                repudiandae alias, quaerat </p>
            </div>
            <div class="card-footer bg-dark text-center">
              <h5 class="text-white text-center">For £995</h5>
            </div>

          </div>
        </a>
      </div>

    </div>
  </div>




  <!-- accordion  -->
  <div class="accordion container marginTop wow animate__fadeIn" data-wow-duration="5s" id="accordionExample">
    <div class="">
      <div class="" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block  bg-dark text-left" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-plus-square"></i> Heavenly Package.
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <h3 class="text-muted my-3">Up to 10 hours coverage:</h3>
          <ul>
            <li>Includes getting ready, ceremony, family photos, formal group photos, wedding party photos, portrait
              session, speeches and reception coverage until 45 minutes after the dance floor opens.</li>
            <li>USB with all the high-resolution images in a presentation box.</li>
            <li>An online password protected viewing and sharing gallery for friends and family. </li>
            <li>Travel anywhere within the UK for your wedding day. </li>
            <li>I do not limit the number of images shared; however, you can expect a total of 500-600 edited wedding
              images.</li>
            <li>All images will be given in both colour, and black and white.</li>
            <li>Prints can be added as requested.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block bg-dark text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-plus-square"></i> Sky’s Limit Package.
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <h3 class="text-muted my-3">Up to 8 hours coverage:</h3>
          <ul>
            <li>Includes getting ready, ceremony, family photos, formal group photos, wedding party photos, portrait
              session, speeches and reception coverage up until 45 minutes after the dance floor opens.</li>
            <li>Digital download of edited high-resolution images.</li>
            <li>USB with high resolution images in a presentation box.</li>
            <li>An online password protected viewing and sharing gallery for friends and family.</li>
            <li>Travel within the UK for your wedding day </li>
            <li>I do not limit the number of images shared; however, you can expect a total of 350-450 edited wedding
              images.</li>
            <li>All images will be given in both colour, and black and white.</li>
            <li>Prints can be added as requested.</li>

          </ul>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block bg-dark text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="fas fa-plus-square"></i> Touching Clouds Package.
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <h3 class="text-muted my-3">Up to 5 hours coverage from bridal preparation until wedding breakfast:</h3>
          <ul>
            <li>200+ high resolution images delivered on a USB.</li>
            <li>An online password protected viewing and sharing gallery for friends and family.</li>
            <li>Prints can be added as requested.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<!-- border offer  -->
<div class="offer col-md-6 mx-auto container marginTop">
  <div class="module ">
    
    I have an offer for every package above during any month of the year. The cost will be reduced by £100 as long as it is Monday-Thursday in which you have booked me.
  </div>
</div>


</main>




<!-- end section about  -->

{% endblock %}

{% block js %}
<!-- Animation style  -->
<script src="WOW-master/dist/wow.min.js"></script>
<script>
  new WOW().init();
</script>
{% endblock %}