{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="regestration">

  <div class="">
    <div class=" text-center">
  <img src="{% static 'img/reg.jpg' %}" class="wow animate__fadeIn" data-wow-duration="1s">


<div class="margitTop mt-5">
  <h1 class="underline-primary   wow animate__fadeIn" data-wow-duration="5s">Resgestration</h1>

</div>
    </div>
    <div class="col-lg-6 mx-auto mt-5 wow animate__fadeInUp" data-wow-duration="1s">

      <form action="" method="post">
        <div class="form-row">
          <div class="form-group col-md-6 mt-3">
            <input type="text" class="form-control wow animate__fadeIn" data-wow-duration="0.5s" name="Name"
              id="subject" placeholder="Name" data-rule="minlen:9"
              data-msg="Please enter at least 8 chars of Name" />
          </div>

          <div class="form-group col-md-6 mt-3">
            <input type="date" class="form-control wow animate__fadeIn" data-wow-duration="0.5s" name="Date"
              id="subject" placeholder="Username" data-rule="minlen:9"
              data-msg="Please enter at least 8 chars of Username" />
          </div>

          <div class="form-group col-md-6 mt-3">
            <input type="text" class="form-control wow animate__fadeIn" data-wow-duration="0.5s" name="Username"
              id="subject" placeholder="Username" data-rule="minlen:9"
              data-msg="Please enter at least 8 chars of Username" />
          </div>

          <div class="form-group col-md-6 mt-3">
            <input type="text" class="form-control wow animate__fadeIn" data-wow-duration="0.5s" name="Password"
              id="subject" placeholder="Password" data-rule="minlen:4"
              data-msg="Please enter at least 8 chars of Password" />
          </div>
          <div class="form-group col-md-12">
            <textarea class="form-control wow animate__fadeInUp" data-wow-duration="0.5s" name="message" rows="3"
              data-rule="required" data-msg="Please write something for us" placeholder="Note"></textarea>
          </div>

        </div>

        <div class="text-center py-5"><button class="btn btn-primary wow animate__fadeInUp float-left"
            data-wow-duration="1s" type="">Signup</button></div>
      </form>
    </div>



  </div>

</main>

{% endblock %}

{% block js %}
<!-- Animation style  -->
<script src="WOW-master/dist/wow.min.js"></script>
<script>
  new WOW().init();
</script>
{% endblock %}