<title>Wedding</title>

{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start senconSection -->
<main class="pricing container">
  <div class="">
    <div class="text-center mt-3">
      <img src="{% static 'img/wedding.jpg' %}" class="imag wow animate__fadeIn" data-wow-duration="3s"
        alt="professional photographer">

      <div class="row mt-5">

        <div class="mx-auto ">
          <h4 class="text-center underline-primary"> WEDDING </h4>
        </div>
      </div>

      <h4 class="my-4 wow animate__fadeIn" data-wow-duration="3s">EVERY COUPLE ARE SPECIAL, <br>SAME FOR THEIR WEDDING
      </h4>

    </div>
    <div>
      <p class="text-justify container wow animate__fadeIn" data-wow-duration="3s">Finding a photographer for weddings is definitely
        a hard task and can make this even harder depending on the date, venue or season. Marriage is a once in a
        lifetime experience and getting it right it is very essential. When looking for a wedding photographer, you
        should look further beyond the price itself. Keeping things simple and easy is what I like to do, and I’ve
        decided that my prices should imitate this. I am never the kind of person to try and cost you extra with hidden
        charges or any unexpected requirements. Just what you need nice and easy, elegant posed photographs, great
        natural shots and amazing photos! I think I am the right photographer for you, I like to watch the day unfold
        and simply capture it in front of my lens. From getting ready and planning, to the first dance, I want to make
        sure every moment is captured and ready for you to look back on for years to come. It’s why I bring all my
        skills to your big day, and I ensure that the photos bring you back to that same special moment. With a relaxed
        and easy approach, the joy and sheer happiness of your wedding day is what drives my photography. I capture all
        the emotions displayed, the laughs, the tears and the important and crucial details you have chosen. I simply
        want to provide you the emotive and beautiful images you deserve. My friendly yet professional nature makes it
        very easy for you to invite me into your world. On a budget? That doesn’t matter, I am here to help you with any
        needs you have regarding price or anything of the sorts, I just want to make your big day special and memorable.
      </p>
      <h4 class="text-center">
        Pre wedding meet-up or skype ,facetime catch up
      </h4>
    </div>
  </div>
  </div>
  <!-- End senconSection -->
  <!-- Start Cards -->
  <div class="container marginTop">
    <div class="row ">
      <!-- first Card  -->

      <div class="col-lg-6 mt-5 border-0">
        <a href="#">
          <div class="card hoverable wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/caro2.jpg' %}" class="card-img-top border-0" alt="family portrait">

          </div>
        </a>
      </div>

      <div class="col-lg-6 mt-5 box border-0 align-self-center">
        <h4 class="card-text text-dark my-2">(Touching Clouds Package) £695</h4>

        <h4 class="card-text text-dark my-2">Pre-Wedding consultation.</h4>

        <h3 class="text-muted my-3">Up to 5 hours coverage from bridal preparation until wedding breakfast:</h3>
        <ul>
          <li>200+ high resolution images delivered on a USB.</li>
          <li>An online password protected viewing and sharing gallery for friends and family.</li>
          <li>Prints can be added as requested.</li>
        </ul>
        <!-- <div class="card-footer bg-dark text-center">
          <h5 class="text-white text-center">For £695</h5>
        </div> -->

        </div>

      <!-- second Card  -->
      <div class="col-lg-6 mt-5  border-0">
        <a href="#">
          <div class="wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/price2.jpg' %}" class="card-img-top mt-5 border-0" alt="family photographer">
         

          </div>
        </a>
      </div>

      <div class="col-lg-6 mt-5 box border-0 align-self-center">
        <h4 class="card-text text-dark my-2">(Sky’s Limit Package) £995</h4>
        <h4 class="card-text text-dark my-2">Pre-Wedding consultation.</h4>
        <h3 class="text-muted my-3">Up to 8 hours coverage:</h3>
        <ul>
          <li>Includes getting ready, ceremony, family photos, formal group photos, wedding party photos, portrait
            session, speeches and reception coverage up until 45 minutes after the dance floor opens.</li>
          <li>Digital download of edited high-resolution images.</li>
          <li>USB with high resolution images in a presentation box.</li>
          <li>An online password protected viewing and sharing gallery for friends and family.</li>
          <li>Travel within the UK for your wedding day </li>
          <li>I do not limit the number of images shared; however, you can expect a total of 350-450 edited wedding
            images.</li>
          <li>All images will be given in both colour, and black and white.</li>
          <li>Prints can be added as requested.</li>

        </ul>


        <!-- <div class="card-footer bg-dark text-center">
          <h5 class="text-white text-center">For £995</h5>
        </div> -->

        </div>



      <!-- thirdCard  -->
      <div class="col-lg-6 mt-5 box border-0">
        <a href="#">
          <div class="wow animate__rollIn" data-wow-offset="300" data-wow-duration="1s">
            <img src="{% static 'img/price33.jpg' %}" class="card-img-top mt-5 border-0" alt="local photographers">


          </div>
        </a>
      </div>
  
  <div class="col-lg-6 mt-5 box border-0 align-self-center">
      <h4 class="card-text text-dark my-2">(Flying high Package) £1295</h4>
    <h4 class="card-text text-dark my-2">Pre-Wedding consultation.</h4>

    <h3 class="text-muted my-3">Up to 10 hours coverage:</h3>
    <ul>
      <li>Includes getting ready, ceremony, family photos, formal group photos, wedding party photos, portrait
        session, speeches and reception coverage until 45 minutes after the dance floor opens.</li>
      <li>USB with all the high-resolution images in a presentation box.</li>
      <li>An online password protected viewing and sharing gallery for friends and family. </li>
      <li>Travel anywhere within the UK for your wedding day. </li>
      <li>I do not limit the number of images shared; however, you can expect a total of 500-600 edited wedding
        images.</li>
      <li>All images will be given in both colour, and black and white.</li>
      <li>Prints can be added as requested.</li>
    </ul>

    <!-- <div class="card-footer bg-dark text-center">
      <h5 class="text-white text-center">For £1295</h5>
    </div> -->

    </div>
  </div>
</div>



  <!-- accordion  -->
  <!-- <div class="accordion container marginTop wow animate__fadeIn" data-wow-duration="5s" id="accordionExample">
    <div class="">
      <div class="" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block  bg-dark text-left" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-plus-square"></i> Heavenly Package.
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <h3 class="text-muted my-3">Up to 10 hours coverage:</h3>
          <ul>
            <li>Includes getting ready, ceremony, family photos, formal group photos, wedding party photos, portrait
              session, speeches and reception coverage until 45 minutes after the dance floor opens.</li>
            <li>USB with all the high-resolution images in a presentation box.</li>
            <li>An online password protected viewing and sharing gallery for friends and family. </li>
            <li>Travel anywhere within the UK for your wedding day. </li>
            <li>I do not limit the number of images shared; however, you can expect a total of 500-600 edited wedding
              images.</li>
            <li>All images will be given in both colour, and black and white.</li>
            <li>Prints can be added as requested.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block bg-dark text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-plus-square"></i> Sky’s Limit Package.
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <h3 class="text-muted my-3">Up to 8 hours coverage:</h3>
          <ul>
            <li>Includes getting ready, ceremony, family photos, formal group photos, wedding party photos, portrait
              session, speeches and reception coverage up until 45 minutes after the dance floor opens.</li>
            <li>Digital download of edited high-resolution images.</li>
            <li>USB with high resolution images in a presentation box.</li>
            <li>An online password protected viewing and sharing gallery for friends and family.</li>
            <li>Travel within the UK for your wedding day </li>
            <li>I do not limit the number of images shared; however, you can expect a total of 350-450 edited wedding
              images.</li>
            <li>All images will be given in both colour, and black and white.</li>
            <li>Prints can be added as requested.</li>

          </ul>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block bg-dark text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="fas fa-plus-square"></i> Touching Clouds Package.
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <h3 class="text-muted my-3">Up to 5 hours coverage from bridal preparation until wedding breakfast:</h3>
          <ul>
            <li>200+ high resolution images delivered on a USB.</li>
            <li>An online password protected viewing and sharing gallery for friends and family.</li>
            <li>Prints can be added as requested.</li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

  <!-- border offer  -->
  <div class="pricing-border col-md-6 mx-auto container marginTop">
    <div class="module text-justify">

      I have an offer for every package above during any month of the year. The cost will be reduced by £100 as long as
      it is Monday-Thursday in which you have booked me.
    </div>
  </div>
<!-- image  -->

<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto marginTop">
      <img src="{% static 'img/outdoor.jpg' %}" class="border-0 shadow wow animate__fadeIn" data-wow-duration="5s" alt="local wedding photographers">
    </div>
    <div class="col-md-7 mx-auto marginTop">
      <img src="{% static 'img/wedd13.jpg' %}" class="border-0 shadow wow animate__fadeIn" data-wow-duration="5s" alt="local wedding photographers">
    </div>
    
  </div>
</div>
  <!-- second border  -->

  <div class="pricing-border col-md-12 mx-auto container marginTop">
    <div class="module ">
      <!-- <h1>OPTIONAL EXTRAS</h1>
      <h4>Additional coverage-£100/HOUR</h4> -->
      <a href="/free"><h3 class=" text-center">FREE PRE–WEDDING TRIAL SHOOT</h3> </a>
      <a href="/free"><h4 class="text-center text-dark">See More</h4></a>
    </div>
  </div>




  <!-- new card  -->
  <div class=" marginTop wow animate__fadeIn" data-wow-duration="3s">>
    <div class="row ">
      <!-- <div class="col-md-4 text-dark ">
        <img src="{% static 'img/indoor.jpg' %}" class="card-img-top border-0 " alt="photoshoot">

        <div class="card-img-overlay pricing-card">
          <h3>Indoor session £400</h3>
          • Up to 2 hours coverage at your own home using studio lighting and all equipment or within the M25 or 20
          miles from Purley. I am more than happy to travel further for extra charge to cover my expenses.
          • All the images with high resolution ready to print.<br>
          • 40 images full edited (change background -face retouch) <br>
          • High resolution images delivered on a USB stick.<br>
          • An online password protected viewing and sharing gallery for friends and family. <br>
          (Price will be reduced to £300 if added to a wedding package)
        </div>
      </div> -->
      <!-- second card    -->

      <div class="col-md-8 text-dark ">
        <img src="{% static 'img/engag.jpg' %}" class="border-0 shadow wow animate__fadeInLeft" data-wow-duration="1s" alt="local wedding photographers">
      </div>

        <div class="col-md-4 my-5">
          <h4>ENGAGEMENT & COUPLES SHOOTS</h4>
          <h5 class="card-text text-justify">An engagement or a couples shoot last about 2 hours, so we can have some time for a chat.
            It is informal, fun, relaxed, a shoot of you both just being you and is a really great opportunity for us to
            get to know each other before your big day too. After the end of the session you don’t have to worry about
            which photos you will keep and which ones you want to let go. All the photos are included in the price and
            are all ready for you to print and share with your lovely friends and family. </h5>
      </div>

      <!-- third caed  -->
<!-- 
      <div class="col-md-4 ">
        <img src="{% static 'img/outdoor.jpg' %}" class="card-img-top border-0" alt="freelance photographer">

        <div class="card-img-overlay pricing-card">
          <h3>Outdoor Session £300</h3>
          • Up to 2 hours coverage at an outdoor location of your choice within the M25 or 20 miles from Purley. I am
          more than happy to travel further for extra charge to cover my expenses. <br>
          • All the images fully edited with high resolution ready to print. <br>
          • High resolution images delivered on a USB stick. <br>
          • An online password protected viewing and sharing gallery for friends and family. <br>
          • Prints can be added as requested. <br>
          (Price will be reduced to £200 if added to a wedding package)

        </div>
      </div> -->

    </div>
  </div>

  <!-- start new design  -->
<div class="container mt-5 wow animate__fadeIn" data-wow-duration="3s">>
  <div class="row">
    <div class="col-md-8">
      <img src="{% static 'img/newd.png' %}" class="w-100 ">
    </div>
    <div class="col-md-4 py-4 text-justify align-self-center">
  <h5>Any previous clients will receive £50
    discount on any photo session.</h5>
<hr>
    <h5>
      For longer Engagement sessions in London and Surrey,
    please get in touch for more information also to reserve your wedding date, or for anything else, please contact me.
    If I am to travel further more than two hours, there would further expenses
    </h5>
<hr>
    <h5>
      such as petrol, and/or a 1-2-night stay at a local B&B or a hotel to the wedding venue.

    </h5>

</div>

    </div>
  </div>
</div>




  <!-- Patrick&Engy -->

  <div class="container my-5">
    <div class="row">
      <div class="col-lg-4 align-self-center"> 
        <h2 class="my-2"> Patrick&Engy</h2>
<a href="/Patrick&Engy">        <h4 class="text-center">See More</h4></a>
      </div>
      <div class="col-lg-8">
        <img src="{% static 'img/wedding/patrick&engy/7.png' %}" class="border-0 shadow wow animate__fadeIn" data-wow-duration="5s" alt="local wedding photographers">
      </div>
  
  </div>
  </div>
  <!-- EMIL&ANA -->

  <div class="container my-5">
    <div class="row">
      <div class="col-lg-4 align-self-center"> 
        <h2 class="my-2">EMIL&ANA</h2>
<a href="/EMIL&ANA">        <h4 class="text-center">See More</h4></a>
      </div>
      <div class="col-lg-8">
        <img src="{% static 'img/wedding/EMIL&ANA/front.jpg' %}" class="border-0 shadow wow animate__fadeIn" data-wow-duration="5s" alt="local wedding photographers">
      </div>
  
  </div>
  </div>
  <!-- HANY&JACKLINE -->

  <!-- LIAM&CAROLINE -->

  <div class="container my-5">
    <div class="row">
      <div class="col-lg-4 align-self-center"> 
        <h2 class="my-2"> LIAM&CAROLINE</h2>
<a href="/LIAM&CAROLINE">        <h4 class="text-center">See More</h4></a>
      </div>
      <div class="col-lg-8">
        <img src="{% static 'img/wedding/LIAM&CAROLINE/150.jpg' %}" class="border-0 shadow wow animate__fadeIn" data-wow-duration="5s" alt="local wedding photographers">
      </div>
  
  </div>
  </div>
  <!-- HANY&JACKLINE -->

  <div class="container my-5">
    <div class="row">
      <div class="col-lg-4 align-self-center"> 
        <h2 class="my-2"> HANY&JACKLINE</h2>
<a href="/HANY&JACKLINE">        <h4 class="text-center">See More</h4></a>
      </div>
      <div class="col-lg-8">
        <img src="{% static 'img/wedding/HANY&JACKLINE/8.png' %}" class="border-0 shadow wow animate__fadeIn" data-wow-duration="5s" alt="local wedding photographers">
      </div>
  
  </div>
  </div>
  <!-- HANY&JACKLINE -->

  <div class="container my-5">
    <div class="row">
      <div class="col-lg-4 align-self-center"> 
        <h2 class="my-2"> JOHN&HANNAH</h2>
<a href="/JOHN">        <h4 class="text-center">See More</h4></a>
      </div>
      <div class="col-lg-8">
        <img src="{% static 'img/wedding/JOHN/36.jpg' %}" class="border-0 shadow wow animate__fadeIn" data-wow-duration="5s" alt="local wedding photographers">
      </div>
  
  </div>
  </div>

<!-- three image  -->


<!-- three image  -->
<!-- <div class="container ">
  <div class="row">
    <div class="col-lg-12 mx-auto mt-5">
      <img class=" mx-auto wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/w8.jpg' %}">
    </div>
    
  </div>
</div> -->

  <h5 class="py-3 my-5 border text-center text-muted">A 20% DEPOSIT IS DUE TO RESERVE YOUR SPECIAL DAY.</h5>
<!-- image  -->
<img src="{% static 'img/wedding2.jpg' %}" class="border-0 shadow wow animate__fadeInUp" data-wow-duration="2s" alt="local wedding photographers">


<!-- three image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-3 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedd7.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedd6.jpg' %}">
    </div>
    <div class="col-lg-3 mt-5">
      <img class="wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedd10.jpg' %}">
    </div>
    
  </div>
</div>


<!-- collection third images  -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static 'img/wed11.jpg' %}" class="border-0 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-4">
      <img src="{% static 'img/wed22.jpg' %}" class="border-0 shadow mx-auto" alt="local wedding photographers">
    </div>
    <div class="col-sm-4">
      <img src="{% static 'img/wed33.jpg' %}" class="border-0 shadow mx-auto" alt="local wedding photographers">
    </div>
  </div>
</div>


<!-- three image  -->
<div class="container ">
  <div class="row">
    <div class="col-lg-3 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/w1.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/w2.jpg' %}">
    </div>
    <div class="col-lg-3 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/w3.jpg' %}">
    </div>
    
  </div>
</div>

<!-- three image  -->
<div class="container ">
  <div class="row">
    <div class="col-lg-4 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/w5.jpg' %}">
    </div>
    <div class="col-lg-4 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/w4.jpg' %}">
    </div>
    <div class="col-lg-4 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/w6.jpg' %}">
    </div>
    
  </div>
</div>

<!-- three image  -->
<div class="container mt-3">
  <div class="row">
    <div class="col-lg-6 mt-4">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/lk1.jpg' %}">
      <img class="mt-5 wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/lk2.jpg' %}">

    </div>
    <div class="col-lg-6 mt-4">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/lk3.jpg' %}">
    </div>
    
  </div>
</div>
<!-- three image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/neww2.jpg' %}">
    </div>
    <div class="col-lg-4 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/neww1.jpg' %}">
    </div>
    <div class="col-lg-4 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/neww3.jpg' %}">
    </div>
    
  </div>
</div>

<!-- tow image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/neww4.jpg' %}">
    </div>
    <div class="col-lg-8 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/neww5.jpg' %}">
    </div>
  </div>
</div>
<!-- three image  -->
<div class="container">
  <div class="row">
    <div class="col-lg-3 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/111.jpg' %}">
    </div>
    <div class="col-lg-6 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/222.jpg' %}">
    </div>
    <div class="col-lg-3 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/333.jpg' %}">
    </div>
    
  </div>
</div>
<!-- three image  -->
<div class="container ">
  <div class="row">
    <div class="col-lg-8 mt-5">
      <img class=" wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/wedd2.jpg' %}">
    </div>
    <div class="col-lg-4 mt-5">
      <img class="  wow animate__fadeInRight" data-wow-duration="1s" src="{% static 'img/wedding/wedd3.jpg' %}">
    </div>

  </div>
</div>



<!-- contact form  -->
<!-- contact us form -->
<div class="col-lg-6 marginTop mx-auto">
  <h1 class="my-5 underline-primary">Tell more about your big day</h1>
  <form action="" method="post">
    <div class="form-row my-5">
      <div class="col-md-6 form-group wow animate__fadeInLeft" data-wow-duration="0.5s">
        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
          data-msg="Please enter at least 4 chars" />
      </div>
      <div class="col-md-6 form-group">
        <input type="email" class="form-control wow animate__fadeInRight" data-wow-duration="0.5s" name="email"
          id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
      </div>
      <div class="col-md-6 form-group wow animate__fadeInLeft" data-wow-duration="0.5s">
        <input type="text" name="name" class="form-control" id="name" placeholder="Contact Number" data-rule="minlen:4"
          data-msg="Please enter at least 4 chars" />
      </div>
      <div class="col-md-6 form-group">
        <input type="email" class="form-control wow animate__fadeInRight" data-wow-duration="0.5s" name="email"
          id="email" placeholder="When Is The Big Day?" data-rule="email" data-msg="Please enter a valid email" />
      </div>


      <div class="col-md-12 form-group">
        <textarea class="form-control wow animate__fadeInUp" data-wow-duration="0.5s" name="message" rows="5"
          data-rule="required" data-msg="Please write something for us"
          placeholder="More Information About The Big Day"></textarea>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-primary wow animate__fadeInLeft" data-wow-duration="0.5s" type="submit">Send
        Message</button>
    </div>
  </form>

</div>
</main>


<!-- end section about  -->

{% endblock %}