$theme-colors: (
  "primary": #FFD43E,
  "social": #797979,
);

$marginTop: 10%;

img {
  max-width: 100%;
}
.carousel-caption {

  text-align: left !important;
  margin-bottom: 10.5rem;
}

caption {
  padding-bottom: 10px !important;
  text-align: right !important;
}


.navbar-nav {
  left: 30% !important;
}
.logo {
  width: 15rem;
}

.hoverable {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  transition-duration: 0.2s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
  }
}


@import "src/bootstrap-4.5.0/scss/bootstrap";


// carousel
#carouselControl {
  .carousel-inner {
    .carousel-img {
      height: 90vh;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */

      &::after {
        content: ""; // ::before and ::after both require content
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-image: linear-gradient(120deg, #eaee44, #33d0ff);
        background: #000;
        opacity: .6;
      }
    }
    
  }
}




// Index - TODO - fill it in here mikky
main.index {

  .sunrise {

    img {
      transition: all 0.6s ease-in-out;;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}



.marginTop {
  margin-top: $marginTop;
}


.section-title h1::after {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  background: #fffb00;
  bottom: 0;
  left: calc(50% - 20px);
}


.parallax {
  background-image: url("3.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bottom-right {
  position: relative;
  top: -140px;
  line-height: 2;
  z-index: 9999;
}


.soc {
  color: rgb(151, 151, 151);
  font-size: 25px;
  line-height: 45px;
}
  .soc:hover {
    color: rgb(255, 255, 255);
  }
