$theme-colors: (
  "primary": #ffc700,
  "social": #797979,
);

$marginTop: 5%;
.marginTop {
  margin-top: $marginTop;
}
.contact {

  overflow-x: hidden;
}
.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
// Dropdown navbar 
.dropdown-menu {
  margin-left: 15px !important;
}

.logo {
  width: 12rem;
}

// social footer

.social-container1 {
  position: relative;
  top: 3vh;
  left: -21px;
  z-index: 100;

  .social-footer {
    color: #fff;
    opacity: 0.5;
    transition-duration: 0.5s;
    display: inline;
    margin-left: 10px;
    &:hover {
      opacity: 1 !important;
      font-size: 1.4rem;
    }
  }
}
@import "src/bootstrap-4.5.0/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap");

// General
body {
  font-family: "Nunito", sans-serif;
h1,h2,h3,h4 {
  font-family: "Philosopher", sans-serif;
}
  img {
    max-width: 100%;
  }

  overflow: auto;

  .hoverable {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .underline-primary {
    position: relative;
    display: inline;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 60px;
      height: 4px;
      background: #fffb00;
      bottom: 0;
      left: 0;
      // left: calc(10% - 20px);
    }
  }
  // vertical-line
  .vertical-line {
    left: 19px;
    border-left: 4px solid #490808;
    height: 15px;
  }

  // block
  .block1 {
    display: block;
  }
// Navbar (dropdown)
.dropdown-item.active, .dropdown-item:active {
  background-color: white;
}
  // Index page
  main.index {
    // carousel
    #carouselControl {
      .carousel-inner {
        .carousel-img {
          height: 90vh;
          background-position: center; /* Center the image */
          background-repeat: no-repeat; /* Do not repeat the image */
          background-size: cover; /* Resize the background image to cover the entire container */

          &::after {
            content: ""; // ::before and ::after both require content
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-image: linear-gradient(120deg, #eaee44, #33d0ff);
            // background: #000;
            // opacity: 0.7;
          }
        }
      }
      .carousel-indicators li {
        width: 15px;
      }
      .hero {
        max-width: 33rem;
        position: absolute;
        top: 30vh;
        left: 15%;
      }

      .social-container {
        width: 2rem;
        position: absolute;
        top: 65vh;
        right: 2rem;
        z-index: 100;

        .social {
          color: #fff;
          opacity: 0.5;
          transition-duration: 0.5s;
          display: block;
          height: 2rem !important;

          &:hover {
            opacity: 1 !important;
            font-size: 1.4rem;
          }
        }
      }
    }

    .sunrise {
      img {
        transition: all 0.6s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
    // text on image index
.on-img1 {
  background-color: black;
  opacity: 0.5;
  color: white;
  position: sticky;
  top: 40%;
  // transform: translate(0px, -100px);
}

  }


  // Pricing page
  main.pricing {
    .pricing-card {
      margin: 30px;
      background-color: #000000;
      opacity: 0.3;
      color: #ffffff;
    }
    .pricing-border {
      .module {
        background: rgb(255, 254, 254);
        color: rgb(0, 0, 0);
        padding: 2rem;
      }
      padding: 1rem;
      position: relative;
      background: linear-gradient(to right, #ffd43e, #ff0000);
      padding: 3px;
    }
  }
  }


// carousel edit slogan and button
@media (max-width: 967px) {
  .hero1 {
    font-size: 30px;
    margin-top: 0;
  }
}



// loading page //

.loading-page {
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 222;
  color: wheat;
}
// Pregnat page

.pregnat .pre1 {
  position: relative;
}
.pregnat .pre {
  position: absolute;
  top: 30%;
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  width: 40% !important;
  height: 200px !important;
  z-index: 20;
}
.lolo {

border: 5px solid rgb(49, 48, 48);
}

@media (max-width: 967px) {
  .pregnat .pre {
    position: relative;
    top: 20%;
    bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
    height: 80vh !important;
    }
  }
  @media (max-width: 967px) {
    .caro {
      position: relative;
      background-position: 88%;
      }
    }
